openapi: 3.0.1
info:
  title: TIDAL Users API
  version: 1.10.14
  description: 'User account management: profiles, accepted terms, installations, clients, reports, and data export requests.'
  x-source: https://tidal-music.github.io/tidal-api-reference/tidal-api-oas.json
servers:
- url: https://openapi.tidal.com/v2
  description: Production
paths:
  /acceptedTerms:
    get:
      description: Retrieves multiple acceptedTerms by available filters, or without if applicable.
      parameters:
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners,
          terms'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: User id. Use `me` for the authenticated user
        in: query
        name: filter[owners.id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by terms.isLatestVersion
        in: query
        name: filter[terms.isLatestVersion]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: 'One of: DEVELOPER, UPLOAD_MARKETPLACE (e.g. `DEVELOPER`)'
        in: query
        name: filter[terms.termsType]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - DEVELOPER
            - UPLOAD_MARKETPLACE
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AcceptedTerms_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple acceptedTerms.
      tags:
      - acceptedTerms
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Creates a new acceptedTerm.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AcceptedTermsCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AcceptedTerms_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single acceptedTerm.
      tags:
      - acceptedTerms
      x-path-item-properties:
        required-access-tier: INTERNAL
  /acceptedTerms/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Accepted terms id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AcceptedTerms_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - acceptedTerms
      x-path-item-properties:
        required-access-tier: INTERNAL
  /acceptedTerms/{id}/relationships/terms:
    get:
      description: Retrieves terms relationship.
      parameters:
      - description: Accepted terms id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: terms'
        example: terms
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: terms
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AcceptedTerms_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get terms relationship ("to-one").
      tags:
      - acceptedTerms
      x-path-item-properties:
        required-access-tier: INTERNAL
  /clients:
    get:
      description: Retrieves multiple clients by available filters, or without if applicable.
      parameters:
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: User id. Use `me` for the authenticated user
        in: query
        name: filter[owners.id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Clients_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple clients.
      tags:
      - clients
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Creates a new client.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ClientsCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Clients_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single client.
      tags:
      - clients
      x-path-item-properties:
        required-access-tier: INTERNAL
  /clients/{id}:
    delete:
      description: Deletes existing client.
      parameters:
      - description: OAuth client identifier
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete single client.
      tags:
      - clients
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves single client by id.
      parameters:
      - description: OAuth client identifier
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Clients_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get single client.
      tags:
      - clients
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates existing client.
      parameters:
      - description: OAuth client identifier
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ClientsUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update single client.
      tags:
      - clients
      x-path-item-properties:
        required-access-tier: INTERNAL
  /clients/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: OAuth client identifier
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Clients_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - clients
      x-path-item-properties:
        required-access-tier: INTERNAL
  /installations:
    get:
      description: Retrieves multiple installations by available filters, or without if applicable.
      parameters:
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: offlineInventory,
          owners'
        example: offlineInventory
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: offlineInventory
      - description: Client-provided installation identifier to filter by (e.g. `a468bee88def`)
        in: query
        name: filter[clientProvidedInstallationId]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: List of installation IDs (e.g. `a468bee88def`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: User ID to filter by. Use `me` for the authenticated user
        in: query
        name: filter[owners.id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Installations_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple installations.
      tags:
      - installations
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Creates a new installation.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/InstallationsCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Installations_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single installation.
      tags:
      - installations
      x-path-item-properties:
        required-access-tier: INTERNAL
  /installations/{id}:
    get:
      description: Retrieves single installation by id.
      parameters:
      - description: Installation id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: offlineInventory,
          owners'
        example: offlineInventory
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: offlineInventory
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Installations_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get single installation.
      tags:
      - installations
      x-path-item-properties:
        required-access-tier: INTERNAL
  /installations/{id}/relationships/offlineInventory:
    delete:
      description: Deletes item(s) from offlineInventory relationship.
      parameters:
      - description: Installation id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/InstallationsOfflineInventoryRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete from offlineInventory relationship ("to-many").
      tags:
      - installations
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves offlineInventory relationship.
      parameters:
      - description: Installation id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: offlineInventory'
        example: offlineInventory
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: offlineInventory
      - description: Offline item id (e.g. `1234`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: 'One of: PENDING, STORED (e.g. `PENDING`)'
        in: query
        name: filter[state]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - PENDING
            - STORED
      - description: 'One of: tracks, videos, albums, playlists, userCollectionTracks (e.g. `tracks`)'
        in: query
        name: filter[type]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - tracks
            - videos
            - albums
            - playlists
            - userCollectionTracks
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Installations_OfflineInventory_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get offlineInventory relationship ("to-many").
      tags:
      - installations
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Adds item(s) to offlineInventory relationship.
      parameters:
      - description: Installation id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/InstallationsOfflineInventoryRelationshipAddOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Add to offlineInventory relationship ("to-many").
      tags:
      - installations
      x-path-item-properties:
        required-access-tier: INTERNAL
  /installations/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Installation id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Installations_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - installations
      x-path-item-properties:
        required-access-tier: INTERNAL
  /temporaryUserTokens:
    post:
      description: Creates a new temporaryUserToken.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/TemporaryUserTokensCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TemporaryUserTokens_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single temporaryUserToken.
      tags:
      - temporaryUserTokens
      x-path-item-properties:
        required-access-tier: INTERNAL
  /temporaryUserTokens/{id}:
    get:
      description: Retrieves single temporaryUserToken by id.
      parameters:
      - description: Temporary user token id
        example: abc123
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TemporaryUserTokens_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get single temporaryUserToken.
      tags:
      - temporaryUserTokens
      x-path-item-properties:
        required-access-tier: INTERNAL
  /temporaryUserTokens/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Temporary user token id
        example: abc123
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TemporaryUserTokens_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - temporaryUserTokens
      x-path-item-properties:
        required-access-tier: INTERNAL
  /terms:
    get:
      description: Retrieves multiple terms by available filters, or without if applicable.
      parameters:
      - description: Filter by countryCode
        in: query
        name: filter[countryCode]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Terms id (e.g. `a468bee88def`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by isLatestVersion
        in: query
        name: filter[isLatestVersion]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: 'One of: DEVELOPER, UPLOAD_MARKETPLACE (e.g. `DEVELOPER`)'
        in: query
        name: filter[termsType]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - DEVELOPER
            - UPLOAD_MARKETPLACE
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Terms_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get multiple terms.
      tags:
      - terms
      x-path-item-properties:
        required-access-tier: INTERNAL
  /terms/{id}:
    get:
      description: Retrieves single term by id.
      parameters:
      - description: Terms id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Terms_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get single term.
      tags:
      - terms
      x-path-item-properties:
        required-access-tier: INTERNAL
  /userDataExportRequests:
    post:
      description: Creates a new userDataExportRequest.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserDataExportRequestsCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserDataExportRequests_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single userDataExportRequest.
      tags:
      - userDataExportRequests
      x-path-item-properties:
        required-access-tier: INTERNAL
  /userReports:
    post:
      description: Creates a new userReport.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserReportsCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserReports_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single userReport.
      tags:
      - userReports
      x-path-item-properties:
        required-access-tier: INTERNAL
  /users/{id}:
    get:
      description: Retrieves single user by id.
      parameters:
      - description: User id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Users_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
        - user.read
      summary: Get single user.
      tags:
      - users
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
components:
  schemas:
    PlayQueues_Future_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PlayQueues_Future_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    StripeConnections_Attributes:
      required:
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Timestamp when the connection was created
          format: date-time
        externalLinks:
          type: array
          description: External links for Stripe connection
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Timestamp when the connection was last modified
          format: date-time
        status:
          minLength: 1
          type: string
          description: Current status of this Stripe connection
          enum:
          - PENDING_REQUIREMENTS
          - UNDER_REVIEW
          - ACCEPTED
          - REJECTED
          - SUSPENDED
    VideoManifests_Attributes:
      type: object
      properties:
        drmData:
          $ref: '#/components/schemas/DrmData'
        link:
          $ref: '#/components/schemas/Link_Object'
        previewReason:
          type: string
          description: Why a preview is served instead of the full video
          enum:
          - FULL_REQUIRES_SUBSCRIPTION
          - FULL_REQUIRES_PURCHASE
          - FULL_REQUIRES_HIGHER_ACCESS_TIER
        videoPresentation:
          type: string
          description: Video presentation
          enum:
          - FULL
          - PREVIEW
    UserOfflineMixes_Attributes:
      type: object
    Users_Attributes:
      required:
      - country
      - username
      type: object
      properties:
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: US
        email:
          type: string
          description: email address
          example: test@test.com
        emailVerified:
          type: boolean
          description: Is the email verified
          example: true
        firstName:
          type: string
          description: Users first name
          example: John
        lastName:
          type: string
          description: Users last name
          example: Rambo
        nostrPublicKey:
          type: string
          description: Users nostr public key
          example: e3fc3965800f9c729b483a2a7291f30e569fbf5ab91a6eef332f9e28a5e923dd
        username:
          type: string
          description: user name
          example: username
    UserCollections_Playlists_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    DrmData:
      type: object
      properties:
        certificateUrl:
          type: string
        drmSystem:
          type: string
          enum:
          - FAIRPLAY
          - WIDEVINE
        initData:
          type: array
          items:
            type: string
        licenseUrl:
          type: string
      description: DRM data. Absence implies no DRM.
    UserCollections_Attributes:
      type: object
    UserCollections_Playlists_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollections_Playlists_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Shares_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        sharedResources:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    AcceptedTermsCreateOperation_Payload_Data_Relationships_Terms:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AcceptedTermsCreateOperation_Payload_Data_Relationships_Terms_Data'
    Videos_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        credits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        providers:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        replacement:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        similarVideos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        suggestedVideos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        thumbnailArt:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        usageRules:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    ProviderProductInfos_Relationships:
      properties:
        provider:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    AcceptedTermsCreateOperation_Payload_Data_Relationships_Terms_Data:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - terms
    Installations_OfflineInventory_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Installations_OfflineInventory_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserDataExportRequests_Attributes:
      required:
      - flowType
      type: object
      properties:
        flowType:
          type: string
          description: The type of data export flow
          enum:
          - GDPR
          - CCPA
          - COPPA
          - ANZ_PA
          - US_PRIVACY_REGULATION
          - APPI
          - RETENTION_POLICY
    Purchases_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Clients_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Clients_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Clients_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource_Identifier'
        links:
          $ref: '#/components/schemas/Links'
    Artists_Following_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Artists_Following_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionPlaylists_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionPlaylists_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserOfflineMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserOfflineMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserOfflineMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Albums_Items_Resource_Identifier_Meta:
      required:
      - trackNumber
      - volumeNumber
      type: object
      properties:
        trackNumber:
          type: integer
          description: track number
          format: int32
          example: 4
        volumeNumber:
          type: integer
          description: volume number
          format: int32
          example: 1
    UserCollections_Playlists_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Playlists_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    File_Status:
      required:
      - moderationFileStatus
      - technicalFileStatus
      type: object
      properties:
        moderationFileStatus:
          type: string
          description: Moderation status for file
          enum:
          - NOT_MODERATED
          - SCANNING
          - FLAGGED
          - TAKEN_DOWN
          - OK
          - ERROR
        technicalFileStatus:
          type: string
          description: Technical status for file
          enum:
          - UPLOAD_REQUESTED
          - PROCESSING
          - OK
          - ERROR
          - DELETED
      description: File status
    StripeDashboardLinks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/StripeDashboardLinks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/StripeDashboardLinks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollections_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/UserCollections_Albums_Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/UserCollections_Artists_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        playlists:
          $ref: '#/components/schemas/UserCollections_Playlists_Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/UserCollections_Tracks_Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/UserCollections_Videos_Multi_Relationship_Data_Document'
    AcceptedTerms_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserNewReleaseMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserNewReleaseMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserNewReleaseMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    DspSharingLinks_Relationships:
      properties:
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Purchases_Attributes:
      required:
      - createdAt
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime of purchase (ISO 8601)
          format: date-time
        status:
          type: string
          description: Current status of the purchase
          enum:
          - ACTIVE
    Providers_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Providers_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    AcceptedTerms_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
    SavedShares_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime of saved share creation (ISO 8601)
          format: date-time
    Credits_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Credits_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Credits_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Following_Resource_Identifier_Meta:
      type: object
      properties:
        viewer:
          $ref: '#/components/schemas/Artists_Followers_Resource_Meta_ViewerContext'
    Credits_Attributes:
      required:
      - name
      - role
      type: object
      properties:
        name:
          type: string
          description: Credit name
          example: John Lennon
        role:
          type: string
          description: Credit role
          example: Vocals
    StripeDashboardLinks_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    DynamicPages_Attributes:
      required:
      - pageType
      - reportingId
      type: object
      properties:
        pageType:
          type: string
          description: Type of the page eg. home, artist
          example: HOME_STATIC
          enum:
          - HOME_STATIC
          - HOME_UPLOADS
          - HOME_EDITORIAL
          - HOME_FREE
          - ARTIST
        reportingId:
          type: string
          description: Id used for reporting user events
          format: uuid
          example: 83c92ac0-b8e3-4e28-9e27-07909dcde1e5
    ContentClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ContentClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ContentClaims_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Following_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artists_Following_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserReportsCreateOperation_Payload_Data_Relationships:
      required:
      - reportedResources
      type: object
      properties:
        reportedResources:
          $ref: '#/components/schemas/UserReportsCreateOperation_Payload_Data_Relationships_ReportedResources'
    UserCollectionAlbums_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionAlbums_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    ArtistRoles_Attributes:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Name of the artist role
    SearchSuggestions_Highlights:
      required:
      - length
      - start
      type: object
      properties:
        length:
          type: integer
          format: int32
        start:
          type: integer
          format: int32
    PlayQueues_Past_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/PlayQueues_Past_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Artists_TrackProviders_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Artists_TrackProviders_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserDataExportRequestsCreateOperation_Payload_Data_Attributes:
      required:
      - flowType
      type: object
      properties:
        flowType:
          type: string
          enum:
          - GDPR
          - CCPA
          - COPPA
          - ANZ_PA
          - US_PRIVACY_REGULATION
          - APPI
          - RETENTION_POLICY
    Lyrics_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Lyrics_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Lyrics_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Copyright:
      required:
      - text
      type: object
      properties:
        text:
          maxLength: 1024
          minLength: 1
          type: string
      description: Copyright information
    Download_Link_Meta:
      type: object
      properties:
        requiredHeaders:
          type: array
          description: HTTP headers required when requesting the download URL
          items:
            type: string
            description: HTTP headers required when requesting the download URL
      description: Metadata for download link
    Playlists_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Playlists_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollections_Artists_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    UserReports_Single_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserReports_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    TrackFiles_Attributes:
      type: object
      properties:
        albumAudioNormalizationData:
          $ref: '#/components/schemas/AudioNormalizationData'
        format:
          type: string
          description: File's audio format
          enum:
          - HEAACV1
          - AACLC
          - FLAC
          - FLAC_HIRES
          - EAC3_JOC
        trackAudioNormalizationData:
          $ref: '#/components/schemas/AudioNormalizationData'
        trackPresentation:
          type: string
          description: Track presentation
          enum:
          - FULL
          - PREVIEW
        url:
          type: string
          description: File URL
    SavedShares_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SavedShares_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    InstallationsCreateOperation_Payload_Data_Attributes:
      required:
      - clientProvidedInstallationId
      - name
      type: object
      properties:
        clientProvidedInstallationId:
          minLength: 1
          type: string
          description: Client provided installation identifier
        name:
          minLength: 1
          type: string
          description: Human-readable name
          example: My iPhone
    ArtistRoles_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ArtistRoles_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    AcceptedTerms_Single_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserDiscoveryMixes_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Installations_Multi_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Installations_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    ClientsUpdateOperation_Payload:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ClientsUpdateOperation_Payload_Data'
    SquareConnections_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SquareConnections_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionFolders_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionFolders_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    SquareConnections_Attributes:
      required:
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Timestamp when the connection was created
          format: date-time
        externalLinks:
          type: array
          description: External links for Square connection
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Timestamp when the connection was last modified
          format: date-time
        status:
          minLength: 1
          type: string
          description: Current status of this Square connection
          enum:
          - DRAFT
          - PENDING_REQUIREMENTS
          - KYC_PENDING
          - ACCEPTED
          - REJECTED
          - SUSPENDED
    UserCollectionTracks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionTracks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionTracks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TemporaryUserTokens_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollections_Artists_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Artists_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionArtists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionArtists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionArtists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Appreciations_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          description: Time when the appreciation was created
          format: date-time
          example: '2025-09-09T13:07:35.734Z'
    UserCollectionFolders_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollectionFolders_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionAlbums_Attributes:
      required:
      - numberOfItems
      type: object
      properties:
        lastModifiedAt:
          type: string
          description: When the collection was last modified
          format: date-time
        numberOfItems:
          type: integer
          description: Number of items in the collection
          format: int32
    SearchSuggestions_Relationships:
      properties:
        directHits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        history:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    DynamicModules_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    TrackStatistics_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Playlists_Attributes:
      required:
      - accessType
      - bounded
      - createdAt
      - externalLinks
      - lastModifiedAt
      - name
      - numberOfFollowers
      - playlistType
      type: object
      properties:
        accessType:
          type: string
          description: Access type
          example: PUBLIC
          enum:
          - PUBLIC
          - UNLISTED
        bounded:
          type: boolean
          description: Indicates if the playlist has a duration and set number of tracks
        createdAt:
          type: string
          description: Datetime of playlist creation (ISO 8601)
          format: date-time
        description:
          type: string
          description: Playlist description
        duration:
          type: string
          description: Duration of playlist (ISO 8601)
          example: P30M5S
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Datetime of last modification of the playlist (ISO 8601)
          format: date-time
        name:
          minLength: 1
          type: string
          description: Playlist name
        numberOfFollowers:
          type: integer
          description: The amount of followers of the playlist
          format: int32
        numberOfItems:
          type: integer
          description: Number of items in the playlist
          format: int32
        playlistType:
          type: string
          description: The type of the playlist
          enum:
          - EDITORIAL
          - USER
          - MIX
          - ARTIST
    ManualArtistClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ManualArtistClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TracksMetadataStatus_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/TracksMetadataStatus_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ProviderOwners_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        provider:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    InstallationsCreateOperation_Payload:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/InstallationsCreateOperation_Payload_Data'
    UserNewReleaseMixes_Attributes:
      type: object
    UserRecommendations_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserRecommendations_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserRecommendations_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserReportsCreateOperation_Payload_Data_Relationships_ReportedResources:
      required:
      - data
      type: object
      properties:
        data:
          maxItems: 1
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/UserReportsCreateOperation_Payload_Data_Relationships_ReportedResources_Data'
    Credits_Relationships:
      properties:
        artist:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        category:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    UserCollectionVideos_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    PlayQueues_Attributes:
      required:
      - createdAt
      - lastModifiedAt
      - repeat
      - shuffled
      type: object
      properties:
        createdAt:
          type: string
          description: ISO 8601 creation timestamp
          format: date-time
        lastModifiedAt:
          type: string
          description: ISO 8601 last modified timestamp
          format: date-time
        repeat:
          type: string
          description: Queue's repeat mode
          enum:
          - NONE
          - ONE
          - BATCH
        shuffled:
          type: boolean
          description: Queue is shuffled or not
    SearchResults_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        playlists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        topHits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    DynamicPages_Relationships:
      properties:
        dynamicModules:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Terms_Attributes:
      required:
      - contentLink
      - countryCode
      - effectiveAt
      - termsType
      type: object
      properties:
        contentLink:
          $ref: '#/components/schemas/Link_Object'
        countryCode:
          type: string
        effectiveAt:
          type: string
          format: date-time
        termsType:
          type: string
          enum:
          - DEVELOPER
          - UPLOAD_MARKETPLACE
    UserCollectionPlaylists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionPlaylists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionPlaylists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Users_Single_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Users_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Links:
      required:
      - self
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Links_Meta'
        next:
          type: string
          description: Link to next page
          example: /artists/xyz/relationships/tracks?page[cursor]=zyx
        self:
          type: string
          description: Link to self
          example: /artists/xyz/relationships/tracks
    UserCollectionVideos_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionVideos_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    TrackInfo:
      required:
      - trackId
      type: object
      properties:
        broken:
          type: boolean
        brokenCode:
          type: integer
          format: int32
        trackId:
          type: string
    Artwork_File_Meta:
      required:
      - height
      - width
      type: object
      properties:
        height:
          type: integer
          description: Height (in pixels)
          format: int32
          example: 80
        width:
          type: integer
          description: Width (in pixels)
          format: int32
          example: 80
      description: Metadata about an artwork file
    UserDiscoveryMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserDiscoveryMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserDiscoveryMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Installations_OfflineInventory_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    UserCollections_Artists_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollections_Artists_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    ArtistClaims_Relationships:
      properties:
        acceptedArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        recommendedArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    ClientsUpdateOperation_Payload_Data:
      required:
      - attributes
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ClientsUpdateOperation_Payload_Data_Attributes'
        id:
          type: string
        type:
          type: string
          enum:
          - clients
    Purchases_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Purchases_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Purchases_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    PlayQueues_Future_Resource_Identifier_Meta:
      required:
      - batchId
      - itemId
      type: object
      properties:
        batchId:
          type: string
          format: uuid
        itemId:
          minLength: 1
          type: string
        legacySource:
          $ref: '#/components/schemas/LegacySource'
    Artworks_Attributes:
      required:
      - files
      - mediaType
      type: object
      properties:
        files:
          type: array
          description: Artwork files
          items:
            $ref: '#/components/schemas/Artwork_File'
        mediaType:
          minLength: 1
          type: string
          description: Media type of artwork files
          enum:
          - IMAGE
          - VIDEO
        sourceFile:
          $ref: '#/components/schemas/Artwork_SourceFile'
        visualMetadata:
          $ref: '#/components/schemas/Artwork_VisualMetadata'
    ClientsUpdateOperation_Payload_Data_Attributes:
      type: object
      properties:
        description:
          type: string
        name:
          type: string
        platformPreset:
          type: string
          enum:
          - NONE
          - WEB
          - ANDROID
          - IOS
        redirectUris:
          type: array
          items:
            type: string
        scopes:
          uniqueItems: true
          type: array
          items:
            type: string
    UserCollectionAlbums_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionAlbums_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionAlbums_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TemporaryUserTokens_Attributes:
      type: object
    Installations_Relationships:
      properties:
        offlineInventory:
          $ref: '#/components/schemas/Installations_OfflineInventory_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    PriceConfigurations_Attributes:
      required:
      - currency
      - price
      type: object
      properties:
        currency:
          type: string
          description: Currency code (ISO 4217)
          enum:
          - USD
        price:
          type: string
          description: Price amount with max 2 decimal places
          example: '9.99'
    TemporaryUserTokensCreateOperation_Payload_Data:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - temporaryUserTokens
    UserCollections_Videos_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    Clients_Multi_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Clients_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Genres_Attributes:
      required:
      - genreName
      type: object
      properties:
        genreName:
          type: string
          description: Genre name
          example: pop
    UserRecommendations_Attributes:
      type: object
    Artworks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Artworks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Artworks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ClientsCreateOperation_Payload_Data_Attributes:
      required:
      - name
      type: object
      properties:
        description:
          type: string
        name:
          type: string
    Artists_Followers_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artists_Followers_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollectionPlaylists_Attributes:
      type: object
    DspSharingLinks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/DspSharingLinks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/DspSharingLinks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Videos_Attributes:
      required:
      - duration
      - explicit
      - isrc
      - popularity
      - title
      type: object
      properties:
        availability:
          type: array
          description: 'Available usage for this video. Deprecated: use ''usageRules'' instead. This field will be removed
            in a future version.'
          deprecated: true
          items:
            type: string
            deprecated: true
            enum:
            - STREAM
            - DJ
            - STEM
        copyright:
          $ref: '#/components/schemas/Copyright'
        duration:
          type: string
          description: Duration (ISO 8601)
          example: PT2M58S
        explicit:
          type: boolean
          description: Explicit content
          example: false
        externalLinks:
          type: array
          description: Video links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        isrc:
          type: string
          description: International Standard Recording Code (ISRC)
          example: TIDAL2274
        popularity:
          type: number
          description: Popularity (0.0 - 1.0)
          format: double
          example: 0.56
        releaseDate:
          type: string
          description: Release date (ISO-8601)
          format: date
          example: '2017-06-27'
        title:
          type: string
          description: Video title
          example: Kill Jay Z
        version:
          type: string
          description: Video version, complements title
          example: original, mix etc
    TracksMetadataStatus_Attributes:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          description: Status of the metadata detection job
          enum:
          - PENDING
          - PROCESSING
          - ERROR
          - OK
    Artists_TrackProviders_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artists_TrackProviders_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    SearchSuggestions_Suggestions:
      required:
      - query
      type: object
      properties:
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/SearchSuggestions_Highlights'
        query:
          minLength: 1
          type: string
      description: Suggested search queries
    UserCollectionAlbums_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionAlbums_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionPlaylists_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    UserCollectionTracks_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionTracks_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionArtists_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    Downloads_Attributes:
      type: object
      properties:
        downloadLinks:
          type: array
          items:
            $ref: '#/components/schemas/Download_Link'
    UsageRules_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UsageRules_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Albums_Attributes:
      required:
      - albumType
      - barcodeId
      - duration
      - explicit
      - mediaTags
      - numberOfItems
      - numberOfVolumes
      - popularity
      - title
      type: object
      properties:
        accessType:
          type: string
          description: Access type
          example: PRIVATE
          enum:
          - PUBLIC
          - UNLISTED
          - PRIVATE
        albumType:
          type: string
          description: Album type
          enum:
          - ALBUM
          - EP
          - SINGLE
        availability:
          type: array
          description: 'Available usage for this album. Deprecated: use ''usageRules'' instead. This field will be removed
            in a future version.'
          deprecated: true
          items:
            type: string
            deprecated: true
            enum:
            - STREAM
            - DJ
            - STEM
        barcodeId:
          type: string
        copyright:
          $ref: '#/components/schemas/Copyright'
        createdAt:
          type: string
          description: Datetime of album creation (ISO 8601)
          format: date-time
        duration:
          type: string
          description: Duration (ISO 8601)
          example: PT46M17S
        explicit:
          type: boolean
          description: Explicit content
          example: true
        externalLinks:
          type: array
          description: Album links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        mediaTags:
          type: array
          items:
            type: string
            description: Media metadata tags
            example: HIRES_LOSSLESS, LOSSLESS
        numberOfItems:
          type: integer
          description: Number of items in album
          format: int32
          example: 13
        numberOfVolumes:
          type: integer
          description: Number of volumes
          format: int32
          example: 1
        popularity:
          type: number
          description: Popularity (0.0 - 1.0)
          format: double
          example: 0.56
        releaseDate:
          type: string
          description: Release date (ISO-8601)
          format: date
          example: '2017-06-30'
        title:
          type: string
          description: Album title
          example: '4:44'
        type:
          type: string
          description: 'Album type. Deprecated: use ''albumType'' instead. This field will be removed in a future version.'
          deprecated: true
          enum:
          - ALBUM
          - EP
          - SINGLE
        version:
          type: string
          description: Album version
          example: remix
    Albums_SuggestedCoverArts_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Albums_SuggestedCoverArts_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Albums_SuggestedCoverArts_Multi_Relationship_Data_Document_Meta'
    ArtistBiographies_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    TemporaryUserTokens_Single_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TemporaryUserTokens_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollectionTracks_Attributes:
      required:
      - numberOfItems
      type: object
      properties:
        lastModifiedAt:
          type: string
          description: When the collection was last modified
          format: date-time
        numberOfItems:
          type: integer
          description: Number of items in the collection
          format: int32
    PlayQueues_Past_Resource_Identifier_Meta:
      required:
      - batchId
      - itemId
      type: object
      properties:
        batchId:
          type: string
          format: uuid
        itemId:
          minLength: 1
          type: string
        legacySource:
          $ref: '#/components/schemas/LegacySource'
    Tracks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Tracks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Tracks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    AcceptedTerms_Multi_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AcceptedTerms_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserOfflineMixes_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    ArtistClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ArtistClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ArtistClaims_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Tracks_Attributes:
      required:
      - duration
      - explicit
      - isrc
      - key
      - keyScale
      - mediaTags
      - popularity
      - title
      type: object
      properties:
        accessType:
          type: string
          description: Access type
          example: PRIVATE
          enum:
          - PUBLIC
          - UNLISTED
          - PRIVATE
        ai:
          type: boolean
          description: Whether the track is AI-generated
          example: false
        availability:
          type: array
          description: 'Available usage for this track. Deprecated: use ''usageRules'' instead. This field will be removed
            in a future version.'
          deprecated: true
          items:
            type: string
            deprecated: true
            enum:
            - STREAM
            - DJ
            - STEM
        bpm:
          type: number
          description: Beats per minute
          format: float
          example: 60.0
        copyright:
          $ref: '#/components/schemas/Copyright'
        createdAt:
          type: string
          description: Datetime of track creation (ISO 8601)
          format: date-time
        duration:
          type: string
          description: Duration (ISO 8601)
          example: PT2M58S
        explicit:
          type: boolean
          description: Explicit content
          example: false
        externalLinks:
          type: array
          description: Track links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        isrc:
          type: string
[...]
