openapi: 3.0.1
info:
  title: TIDAL User Collections API
  version: 1.10.14
  description: 'My Collection: the user''s saved albums, artists, playlists, tracks, videos, folders, and save-for-later items.'
  x-source: https://tidal-music.github.io/tidal-api-reference/tidal-api-oas.json
servers:
- url: https://openapi.tidal.com/v2
  description: Production
paths:
  /userCollectionAlbums/{id}:
    get:
      description: Retrieves single userCollectionAlbum by id.
      parameters:
      - description: User collection albums id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: items,
          owners'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionAlbums_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get single userCollectionAlbum.
      tags:
      - userCollectionAlbums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionAlbums/{id}/relationships/items:
    delete:
      description: Deletes item(s) from items relationship.
      parameters:
      - description: User collection albums id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionAlbumsItemsRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Delete from items relationship ("to-many").
      tags:
      - userCollectionAlbums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    get:
      description: Retrieves items relationship.
      parameters:
      - description: User collection albums id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Values prefixed with "-" are sorted descending; values without it are sorted ascending.
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
            example: addedAt
            enum:
            - addedAt
            - -addedAt
            - artists.name
            - -artists.name
            - releaseDate
            - -releaseDate
            - title
            - -title
            default: -addedAt
            x-enum-varnames:
            - AddedAtAsc
            - AddedAtDesc
            - ArtistsNameAsc
            - ArtistsNameDesc
            - ReleaseDateAsc
            - ReleaseDateDesc
            - TitleAsc
            - TitleDesc
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: items'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionAlbums_Items_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get items relationship ("to-many").
      tags:
      - userCollectionAlbums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      description: Adds item(s) to items relationship.
      parameters:
      - description: User collection albums id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionAlbumsItemsRelationshipAddOperation_Payload'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionAlbums_Items_Add_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/UserCollectionAlbumsAddMultiDataRelationshipWithResponse409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Add to items relationship ("to-many").
      tags:
      - userCollectionAlbums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionAlbums/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: User collection albums id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionAlbums_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - userCollectionAlbums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionArtists/{id}:
    get:
      description: Retrieves single userCollectionArtist by id.
      parameters:
      - description: User collection artists id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: items,
          owners'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionArtists_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get single userCollectionArtist.
      tags:
      - userCollectionArtists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionArtists/{id}/relationships/items:
    delete:
      description: Deletes item(s) from items relationship.
      parameters:
      - description: User collection artists id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionArtistsItemsRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Delete from items relationship ("to-many").
      tags:
      - userCollectionArtists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    get:
      description: Retrieves items relationship.
      parameters:
      - description: User collection artists id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Values prefixed with "-" are sorted descending; values without it are sorted ascending.
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
            example: addedAt
            enum:
            - addedAt
            - -addedAt
            - name
            - -name
            default: -addedAt
            x-enum-varnames:
            - AddedAtAsc
            - AddedAtDesc
            - NameAsc
            - NameDesc
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: items'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionArtists_Items_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get items relationship ("to-many").
      tags:
      - userCollectionArtists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      description: Adds item(s) to items relationship.
      parameters:
      - description: User collection artists id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionArtistsItemsRelationshipAddOperation_Payload'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionArtists_Items_Add_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/UserCollectionArtistsAddMultiDataRelationshipWithResponse409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Add to items relationship ("to-many").
      tags:
      - userCollectionArtists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionArtists/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: User collection artists id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionArtists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - userCollectionArtists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionFolders:
    get:
      description: Retrieves multiple userCollectionFolders by available filters, or without if applicable.
      parameters:
      - description: 'Allows the client to customize which related resources should be returned. Available options: items,
          owners'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      - description: Folder Id (e.g. `CBMHXUOuJZgroV2kWpeVLL1I7xdgvF6ocDEGCXov8SZq3WVhrOcOq5pjnGawKX`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionFolders_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get multiple userCollectionFolders.
      tags:
      - userCollectionFolders
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Creates a new userCollectionFolder.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionFoldersCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionFolders_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Create single userCollectionFolder.
      tags:
      - userCollectionFolders
      x-path-item-properties:
        required-access-tier: INTERNAL
  /userCollectionFolders/{id}:
    delete:
      description: Deletes existing userCollectionFolder.
      parameters:
      - description: Folder Id
        example: CBMHXUOuJZgroV2kWpeVLL1I7xdgvF6ocDEGCXov8SZq3WVhrOcOq5pjnGawKX
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '400':
          $ref: '#/components/responses/UserCollectionFoldersDeleteResource400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Delete single userCollectionFolder.
      tags:
      - userCollectionFolders
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves single userCollectionFolder by id.
      parameters:
      - description: Folder Id
        example: CBMHXUOuJZgroV2kWpeVLL1I7xdgvF6ocDEGCXov8SZq3WVhrOcOq5pjnGawKX
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: items,
          owners'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionFolders_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get single userCollectionFolder.
      tags:
      - userCollectionFolders
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates existing userCollectionFolder.
      parameters:
      - description: Folder Id
        example: CBMHXUOuJZgroV2kWpeVLL1I7xdgvF6ocDEGCXov8SZq3WVhrOcOq5pjnGawKX
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionFoldersUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Update single userCollectionFolder.
      tags:
      - userCollectionFolders
      x-path-item-properties:
        required-access-tier: INTERNAL
  /userCollectionFolders/{id}/relationships/items:
    delete:
      description: Deletes item(s) from items relationship.
      parameters:
      - description: Folder Id
        example: CBMHXUOuJZgroV2kWpeVLL1I7xdgvF6ocDEGCXov8SZq3WVhrOcOq5pjnGawKX
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionFoldersItemsRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Delete from items relationship ("to-many").
      tags:
      - userCollectionFolders
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves items relationship.
      parameters:
      - description: Folder Id
        example: CBMHXUOuJZgroV2kWpeVLL1I7xdgvF6ocDEGCXov8SZq3WVhrOcOq5pjnGawKX
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Values prefixed with "-" are sorted descending; values without it are sorted ascending.
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
            example: addedAt
            enum:
            - addedAt
            - -addedAt
            - lastModifiedAt
            - -lastModifiedAt
            - name
            - -name
            default: addedAt
            x-enum-varnames:
            - AddedAtAsc
            - AddedAtDesc
            - LastModifiedAtAsc
            - LastModifiedAtDesc
            - NameAsc
            - NameDesc
      - description: 'Allows the client to customize which related resources should be returned. Available options: items'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionFolders_Items_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get items relationship ("to-many").
      tags:
      - userCollectionFolders
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Adds item(s) to items relationship.
      parameters:
      - description: Folder Id
        example: CBMHXUOuJZgroV2kWpeVLL1I7xdgvF6ocDEGCXov8SZq3WVhrOcOq5pjnGawKX
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionFoldersItemsRelationshipAddOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Add to items relationship ("to-many").
      tags:
      - userCollectionFolders
      x-path-item-properties:
        required-access-tier: INTERNAL
  /userCollectionFolders/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Folder Id
        example: CBMHXUOuJZgroV2kWpeVLL1I7xdgvF6ocDEGCXov8SZq3WVhrOcOq5pjnGawKX
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionFolders_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - userCollectionFolders
      x-path-item-properties:
        required-access-tier: INTERNAL
  /userCollectionPlaylists/{id}:
    get:
      description: Retrieves single userCollectionPlaylist by id.
      parameters:
      - description: User collection playlists id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: items,
          owners'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionPlaylists_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get single userCollectionPlaylist.
      tags:
      - userCollectionPlaylists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionPlaylists/{id}/relationships/items:
    delete:
      description: Deletes item(s) from items relationship.
      parameters:
      - description: User collection playlists id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionPlaylistsItemsRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Delete from items relationship ("to-many").
      tags:
      - userCollectionPlaylists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    get:
      description: Retrieves items relationship.
      parameters:
      - description: User collection playlists id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: collectionView
        required: false
        schema:
          type: string
          enum:
          - FOLDERS
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Values prefixed with "-" are sorted descending; values without it are sorted ascending.
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
            example: addedAt
            enum:
            - addedAt
            - -addedAt
            - lastModifiedAt
            - -lastModifiedAt
            - name
            - -name
            default: -addedAt
            x-enum-varnames:
            - AddedAtAsc
            - AddedAtDesc
            - LastModifiedAtAsc
            - LastModifiedAtDesc
            - NameAsc
            - NameDesc
      - description: 'Allows the client to customize which related resources should be returned. Available options: items'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionPlaylists_Items_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get items relationship ("to-many").
      tags:
      - userCollectionPlaylists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      description: Adds item(s) to items relationship.
      parameters:
      - description: User collection playlists id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionPlaylistsItemsRelationshipAddOperation_Payload'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionPlaylists_Items_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/UserCollectionPlaylistsAddMultiDataRelationshipWithResponse409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Add to items relationship ("to-many").
      tags:
      - userCollectionPlaylists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionPlaylists/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: User collection playlists id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionPlaylists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - userCollectionPlaylists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionSaveForLaters/{id}:
    get:
      description: Retrieves single userCollectionSaveForLater by id.
      parameters:
      - description: User collection save for later id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: items,
          owners'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionSaveForLaters_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get single userCollectionSaveForLater.
      tags:
      - userCollectionSaveForLaters
      x-path-item-properties:
        required-access-tier: INTERNAL
  /userCollectionSaveForLaters/{id}/relationships/items:
    delete:
      description: Deletes item(s) from items relationship.
      parameters:
      - description: User collection save for later id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionSaveForLatersItemsRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete from items relationship ("to-many").
      tags:
      - userCollectionSaveForLaters
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves items relationship.
      parameters:
      - description: User collection save for later id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: items'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionSaveForLaters_Items_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get items relationship ("to-many").
      tags:
      - userCollectionSaveForLaters
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Adds item(s) to items relationship.
      parameters:
      - description: User collection save for later id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionSaveForLatersItemsRelationshipAddOperation_Payload'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionSaveForLaters_Items_Add_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/UserCollectionSaveForLatersAddMultiDataRelationshipWithResponse409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Add to items relationship ("to-many").
      tags:
      - userCollectionSaveForLaters
      x-path-item-properties:
        required-access-tier: INTERNAL
  /userCollectionSaveForLaters/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: User collection save for later id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionSaveForLaters_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - userCollectionSaveForLaters
      x-path-item-properties:
        required-access-tier: INTERNAL
  /userCollectionTracks:
    get:
      description: Retrieves multiple userCollectionTracks by available filters, or without if applicable.
      parameters:
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: items,
          owners'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      - description: User collection tracks id (e.g. `FMJUCzH4`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionTracks_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get multiple userCollectionTracks.
      tags:
      - userCollectionTracks
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionTracks/{id}:
    get:
      description: Retrieves single userCollectionTrack by id.
      parameters:
      - description: User collection tracks id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: items,
          owners'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionTracks_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get single userCollectionTrack.
      tags:
      - userCollectionTracks
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionTracks/{id}/relationships/items:
    delete:
      description: Deletes item(s) from items relationship.
      parameters:
      - description: User collection tracks id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionTracksItemsRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Delete from items relationship ("to-many").
      tags:
      - userCollectionTracks
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    get:
      description: Retrieves items relationship.
      parameters:
      - description: User collection tracks id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Values prefixed with "-" are sorted descending; values without it are sorted ascending.
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
            example: addedAt
            enum:
            - addedAt
            - -addedAt
            - albums.title
            - -albums.title
            - artists.name
            - -artists.name
            - duration
            - -duration
            - title
            - -title
            default: -addedAt
            x-enum-varnames:
            - AddedAtAsc
            - AddedAtDesc
            - AlbumsTitleAsc
            - AlbumsTitleDesc
            - ArtistsNameAsc
            - ArtistsNameDesc
            - DurationAsc
            - DurationDesc
            - TitleAsc
            - TitleDesc
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: items'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionTracks_Items_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get items relationship ("to-many").
      tags:
      - userCollectionTracks
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      description: Adds item(s) to items relationship.
      parameters:
      - description: User collection tracks id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionTracksItemsRelationshipAddOperation_Payload'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionTracks_Items_Add_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/UserCollectionTracksAddMultiDataRelationshipWithResponse409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Add to items relationship ("to-many").
      tags:
      - userCollectionTracks
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionTracks/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: User collection tracks id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionTracks_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - userCollectionTracks
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionVideos/{id}:
    get:
      description: Retrieves single userCollectionVideo by id.
      parameters:
      - description: User collection videos id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: items,
          owners'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionVideos_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get single userCollectionVideo.
      tags:
      - userCollectionVideos
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionVideos/{id}/relationships/items:
    delete:
      description: Deletes item(s) from items relationship.
      parameters:
      - description: User collection videos id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionVideosItemsRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Delete from items relationship ("to-many").
      tags:
      - userCollectionVideos
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    get:
      description: Retrieves items relationship.
      parameters:
      - description: User collection videos id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Values prefixed with "-" are sorted descending; values without it are sorted ascending.
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
            example: addedAt
            enum:
            - addedAt
            - -addedAt
            - artists.name
            - -artists.name
            - duration
            - -duration
            - title
            - -title
            default: -addedAt
            x-enum-varnames:
            - AddedAtAsc
            - AddedAtDesc
            - ArtistsNameAsc
            - ArtistsNameDesc
            - DurationAsc
            - DurationDesc
            - TitleAsc
            - TitleDesc
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: items'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionVideos_Items_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get items relationship ("to-many").
      tags:
      - userCollectionVideos
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      description: Adds item(s) to items relationship.
      parameters:
      - description: User collection videos id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionVideosItemsRelationshipAddOperation_Payload'
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionVideos_Items_Add_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/UserCollectionVideosAddMultiDataRelationshipWithResponse409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Add to items relationship ("to-many").
      tags:
      - userCollectionVideos
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollectionVideos/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: User collection videos id. Use `me` for the authenticated user's resource
        example: me
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionVideos_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - userCollectionVideos
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollections/{id}:
    get:
      deprecated: true
      description: 'Deprecated. Use the dedicated collection resources instead: userCollectionAlbums, userCollectionArtists,
        userCollectionTracks, userCollectionVideos, or userCollectionPlaylists.'
      parameters:
      - description: User collection id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: albums,
          artists, owners, playlists, tracks, videos'
        example: albums
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: albums
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollections_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get single userCollection.
      tags:
      - userCollections
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollections/{id}/relationships/albums:
    delete:
      deprecated: true
      description: Deprecated. Use the userCollectionAlbums resource and its items relationship instead.
      parameters:
      - description: User collection id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionsAlbumsRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Delete from albums relationship ("to-many").
      tags:
      - userCollections
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    get:
      deprecated: true
      description: Deprecated. Use the userCollectionAlbums resource and its items relationship instead.
      parameters:
      - description: User collection id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Values prefixed with "-" are sorted descending; values without it are sorted ascending.
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
            example: albums.addedAt
            enum:
            - albums.addedAt
            - -albums.addedAt
            - albums.artists.name
            - -albums.artists.name
            - albums.releaseDate
            - -albums.releaseDate
            - albums.title
            - -albums.title
            default: -albums.addedAt
            x-enum-varnames:
            - AlbumsAddedAtAsc
            - AlbumsAddedAtDesc
            - AlbumsArtistsNameAsc
            - AlbumsArtistsNameDesc
            - AlbumsReleaseDateAsc
            - AlbumsReleaseDateDesc
            - AlbumsTitleAsc
            - AlbumsTitleDesc
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: albums'
        example: albums
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: albums
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollections_Albums_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get albums relationship ("to-many").
      tags:
      - userCollections
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      deprecated: true
      description: Deprecated. Use the userCollectionAlbums resource and its items relationship instead.
      parameters:
      - description: User collection id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionsAlbumsRelationshipAddOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/UserCollectionsAddMultiDataRelationship409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Add to albums relationship ("to-many").
      tags:
      - userCollections
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollections/{id}/relationships/artists:
    delete:
      deprecated: true
      description: Deprecated. Use the userCollectionArtists resource and its items relationship instead.
      parameters:
      - description: User collection id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionsArtistsRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Delete from artists relationship ("to-many").
      tags:
      - userCollections
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    get:
      deprecated: true
      description: Deprecated. Use the userCollectionArtists resource and its items relationship instead.
      parameters:
      - description: User collection id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Values prefixed with "-" are sorted descending; values without it are sorted ascending.
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
            example: artists.addedAt
            enum:
            - artists.addedAt
            - -artists.addedAt
            - artists.name
            - -artists.name
            default: -artists.addedAt
            x-enum-varnames:
            - ArtistsAddedAtAsc
            - ArtistsAddedAtDesc
            - ArtistsNameAsc
            - ArtistsNameDesc
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: BCP 47 locale (e.g., en-US, nb-NO, pt-BR). Defaults to en-US if not provided or unsupported.
        example: en-US
        in: query
        name: locale
        required: false
        schema:
          type: string
          default: en-US
      - description: 'Allows the client to customize which related resources should be returned. Available options: artists'
        example: artists
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: artists
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollections_Artists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.read
        - r_usr
      summary: Get artists relationship ("to-many").
      tags:
      - userCollections
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      deprecated: true
      description: Deprecated. Use the userCollectionArtists resource and its items relationship instead.
      parameters:
      - description: User collection id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserCollectionsArtistsRelationshipAddOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/UserCollectionsAddMultiDataRelationship409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - collection.write
        - w_usr
      summary: Add to artists relationship ("to-many").
      tags:
      - userCollections
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /userCollections/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: User collection id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollections_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
[...]
