openapi: 3.0.1
info:
  title: TIDAL Catalog API
  version: 1.10.14
  description: 'Browse TIDAL''s high-fidelity music catalog: albums, artists, tracks, videos, genres, lyrics, credits, and
    artwork. JSON:API compliant with relationship traversal.'
  x-source: https://tidal-music.github.io/tidal-api-reference/tidal-api-oas.json
servers:
- url: https://openapi.tidal.com/v2
  description: Production
paths:
  /albumStatistics:
    get:
      description: Retrieves multiple albumStatistics by available filters, or without if applicable.
      parameters:
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: List of album IDs (e.g. `251380836`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AlbumStatistics_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple albumStatistics.
      tags:
      - albumStatistics
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albumStatistics/{id}:
    get:
      description: Retrieves single albumStatistic by id.
      parameters:
      - description: Album statistic id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AlbumStatistics_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get single albumStatistic.
      tags:
      - albumStatistics
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albumStatistics/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Album statistic id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AlbumStatistics_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - albumStatistics
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums:
    get:
      description: Retrieves multiple albums by available filters, or without if applicable.
      parameters:
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Values prefixed with "-" are sorted descending; values without it are sorted ascending.
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
            example: createdAt
            enum:
            - createdAt
            - -createdAt
            - title
            - -title
            default: -createdAt
            x-enum-varnames:
            - CreatedAtAsc
            - CreatedAtDesc
            - TitleAsc
            - TitleDesc
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: albumStatistics,
          artists, coverArt, genres, items, owners, priceConfig, providers, replacement, shares, similarAlbums, suggestedCoverArts,
          usageRules'
        example: albumStatistics
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: albumStatistics
      - description: 'List of barcode IDs (EAN-13 or UPC-A). NOTE: Supplying more than one barcode ID will currently only
          return one album per barcode ID. (e.g. `196589525444`)'
        in: query
        name: filter[barcodeId]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Album id (e.g. `251380836`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: User id. Use `me` for the authenticated user
        in: query
        name: filter[owners.id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple albums.
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      description: Creates a new album.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AlbumsCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single album.
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums/{id}:
    delete:
      description: Deletes existing album.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete single album.
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves single album by id.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: albumStatistics,
          artists, coverArt, genres, items, owners, priceConfig, providers, replacement, shares, similarAlbums, suggestedCoverArts,
          usageRules'
        example: albumStatistics
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: albumStatistics
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get single album.
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    patch:
      description: Updates existing album.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AlbumsUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update single album.
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums/{id}/relationships/albumStatistics:
    get:
      description: Retrieves albumStatistics relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: albumStatistics'
        example: albumStatistics
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: albumStatistics
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get albumStatistics relationship ("to-one").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums/{id}/relationships/artists:
    get:
      description: Retrieves artists relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: artists'
        example: artists
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: artists
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get artists relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /albums/{id}/relationships/coverArt:
    get:
      description: Retrieves coverArt relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: coverArt'
        example: coverArt
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: coverArt
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get coverArt relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    patch:
      description: Updates coverArt relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AlbumsCoverArtRelationshipUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update coverArt relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums/{id}/relationships/genres:
    get:
      description: Retrieves genres relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: genres'
        example: genres
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: genres
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get genres relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums/{id}/relationships/items:
    get:
      description: Retrieves items relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: items'
        example: items
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: items
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Items_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get items relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    patch:
      description: Updates items relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AlbumsItemsRelationshipUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update items relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get owners relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /albums/{id}/relationships/priceConfig:
    get:
      description: Retrieves priceConfig relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: priceConfig'
        example: priceConfig
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: priceConfig
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get priceConfig relationship ("to-one").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums/{id}/relationships/providers:
    get:
      description: Retrieves providers relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: providers'
        example: providers
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: providers
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get providers relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /albums/{id}/relationships/replacement:
    get:
      description: Retrieves replacement relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: replacement'
        example: replacement
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: replacement
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get replacement relationship ("to-one").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums/{id}/relationships/shares:
    get:
      description: Retrieves shares relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: shares'
        example: shares
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: shares
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get shares relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums/{id}/relationships/similarAlbums:
    get:
      description: Retrieves similarAlbums relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: similarAlbums'
        example: similarAlbums
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: similarAlbums
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get similarAlbums relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /albums/{id}/relationships/suggestedCoverArts:
    get:
      description: Retrieves suggestedCoverArts relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: suggestedCoverArts'
        example: suggestedCoverArts
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: suggestedCoverArts
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_SuggestedCoverArts_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get suggestedCoverArts relationship ("to-many").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: INTERNAL
  /albums/{id}/relationships/usageRules:
    get:
      description: Retrieves usageRules relationship.
      parameters:
      - description: Album id
        example: '251380836'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: usageRules'
        example: usageRules
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: usageRules
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Albums_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get usageRules relationship ("to-one").
      tags:
      - albums
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artistBiographies:
    get:
      description: Retrieves multiple artistBiographies by available filters, or without if applicable.
      parameters:
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Artist id (e.g. `1566`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ArtistBiographies_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get multiple artistBiographies.
      tags:
      - artistBiographies
      x-path-item-properties:
        required-access-tier: INTERNAL
  /artistBiographies/{id}:
    get:
      description: Retrieves single artistBiographie by id.
      parameters:
      - description: Artist biography id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ArtistBiographies_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get single artistBiographie.
      tags:
      - artistBiographies
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates existing artistBiographie.
      parameters:
      - description: Artist biography id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArtistBiographiesUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update single artistBiographie.
      tags:
      - artistBiographies
      x-path-item-properties:
        required-access-tier: INTERNAL
  /artistBiographies/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Artist biography id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ArtistBiographies_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get owners relationship ("to-many").
      tags:
      - artistBiographies
      x-path-item-properties:
        required-access-tier: INTERNAL
  /artistRoles:
    get:
      description: Retrieves multiple artistRoles by available filters, or without if applicable.
      parameters:
      - description: List of artist role IDs (e.g. `1`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ArtistRoles_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get multiple artistRoles.
      tags:
      - artistRoles
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artistRoles/{id}:
    get:
      description: Retrieves single artistRole by id.
      parameters:
      - description: Artist role id
        example: '1'
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ArtistRoles_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get single artistRole.
      tags:
      - artistRoles
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artists:
    get:
      description: Retrieves multiple artists by available filters, or without if applicable.
      parameters:
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: albums,
          biography, followers, following, owners, profileArt, radio, roles, similarArtists, trackProviders, tracks, videos'
        example: albums
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: albums
      - description: Artist handle (e.g. `jayz`)
        in: query
        name: filter[handle]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Artist id (e.g. `1566`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: User id. Use `me` for the authenticated user
        in: query
        name: filter[owners.id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple artists.
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      description: Creates a new artist.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArtistsCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single artist.
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: INTERNAL
  /artists/{id}:
    get:
      description: Retrieves single artist by id.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: albums,
          biography, followers, following, owners, profileArt, radio, roles, similarArtists, trackProviders, tracks, videos'
        example: albums
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: albums
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get single artist.
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    patch:
      description: Updates existing artist.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArtistsUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update single artist.
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: INTERNAL
  /artists/{id}/relationships/albums:
    get:
      description: Retrieves albums relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: albums'
        example: albums
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: albums
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get albums relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artists/{id}/relationships/biography:
    get:
      description: Retrieves biography relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: biography'
        example: biography
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: biography
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get biography relationship ("to-one").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artists/{id}/relationships/followers:
    get:
      description: Retrieves followers relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: viewerContext
        required: false
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: followers'
        example: followers
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: followers
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Followers_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get followers relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: INTERNAL
  /artists/{id}/relationships/following:
    delete:
      description: Deletes item(s) from following relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArtistsFollowingRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete from following relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves following relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: viewerContext
        required: false
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: following'
        example: following
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: following
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Following_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get following relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Adds item(s) to following relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArtistsFollowingRelationshipAddOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Add to following relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: INTERNAL
  /artists/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get owners relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artists/{id}/relationships/profileArt:
    get:
      description: Retrieves profileArt relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: profileArt'
        example: profileArt
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: profileArt
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get profileArt relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    patch:
      description: Updates profileArt relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArtistsProfileArtRelationshipUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update profileArt relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: INTERNAL
  /artists/{id}/relationships/radio:
    get:
      description: Retrieves radio relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: radio'
        example: radio
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: radio
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get radio relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artists/{id}/relationships/roles:
    get:
      description: Retrieves roles relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: roles'
        example: roles
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: roles
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get roles relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artists/{id}/relationships/similarArtists:
    get:
      description: Retrieves similarArtists relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: similarArtists'
        example: similarArtists
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: similarArtists
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get similarArtists relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artists/{id}/relationships/trackProviders:
    get:
      description: Retrieves trackProviders relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: trackProviders'
        example: trackProviders
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: trackProviders
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_TrackProviders_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get trackProviders relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artists/{id}/relationships/tracks:
    get:
      description: Retrieves tracks relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Collapse by options for getting artist tracks. Available options: FINGERPRINT, ID. FINGERPRINT option
          might collapse similar tracks based entry fingerprints while collapsing by ID always returns all available items.'
        example: FINGERPRINT
        in: query
        name: collapseBy
        required: true
        schema:
          type: string
          enum:
          - FINGERPRINT
          - NONE
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: tracks'
        example: tracks
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: tracks
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get tracks relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artists/{id}/relationships/videos:
    get:
      description: Retrieves videos relationship.
      parameters:
      - description: Artist id
        example: '1566'
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: videos'
        example: videos
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: videos
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artists_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get videos relationship ("to-many").
      tags:
      - artists
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artworks:
    get:
      description: Retrieves multiple artworks by available filters, or without if applicable.
      parameters:
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Artwork id (e.g. `a468bee88def`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artworks_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get multiple artworks.
      tags:
      - artworks
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      description: Creates a new artwork.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArtworksCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artworks_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single artwork.
      tags:
      - artworks
      x-path-item-properties:
        required-access-tier: INTERNAL
  /artworks/{id}:
    get:
      description: Retrieves single artwork by id.
      parameters:
      - description: Artwork id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Artworks_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get single artwork.
      tags:
      - artworks
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /artworks/{id}/relationships/owners:
    get:
[...]
