openapi: 3.0.1
info:
  title: TIDAL Catalog acceptedTerms playQueues API
  version: 1.10.14
  description: 'Browse TIDAL''s high-fidelity music catalog: albums, artists, tracks, videos, genres, lyrics, credits, and artwork. JSON:API compliant with relationship traversal.'
  x-source: https://tidal-music.github.io/tidal-api-reference/tidal-api-oas.json
servers:
- url: https://openapi.tidal.com/v2
  description: Production
tags:
- name: playQueues
paths:
  /playQueues:
    get:
      description: Retrieves multiple playQueues by available filters, or without if applicable.
      parameters:
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: current, future, owners, past'
        example: current
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: current
      - description: User id. Use `me` for the authenticated user
        in: query
        name: filter[owners.id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple playQueues.
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Creates a new playQueue.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single playQueue.
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues/{id}:
    delete:
      description: Deletes existing playQueue.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete single playQueue.
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves single playQueue by id.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: current, future, owners, past'
        example: current
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: current
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get single playQueue.
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates existing playQueue.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update single playQueue.
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues/{id}/relationships/current:
    get:
      description: Retrieves current relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: current'
        example: current
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: current
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Current_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get current relationship ("to-one").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates current relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesCurrentRelationshipUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update current relationship ("to-one").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues/{id}/relationships/future:
    delete:
      description: Deletes item(s) from future relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesFutureRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete from future relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves future relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: future'
        example: future
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: future
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Future_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get future relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates future relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesFutureRelationshipUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update future relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Adds item(s) to future relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesFutureRelationshipAddOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Add to future relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues/{id}/relationships/past:
    get:
      description: Retrieves past relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: past'
        example: past
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: past
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Past_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get past relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
components:
  schemas:
    TrackFiles_Attributes:
      type: object
      properties:
        albumAudioNormalizationData:
          $ref: '#/components/schemas/AudioNormalizationData'
        format:
          type: string
          description: File's audio format
          enum:
          - HEAACV1
          - AACLC
          - FLAC
          - FLAC_HIRES
          - EAC3_JOC
        trackAudioNormalizationData:
          $ref: '#/components/schemas/AudioNormalizationData'
        trackPresentation:
          type: string
          description: Track presentation
          enum:
          - FULL
          - PREVIEW
        url:
          type: string
          description: File URL
    PlayQueues_Future_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PlayQueues_Future_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollectionArtists_Attributes:
      required:
      - numberOfItems
      type: object
      properties:
        lastModifiedAt:
          type: string
          description: When the collection was last modified
          format: date-time
        numberOfItems:
          type: integer
          description: Number of items in the collection
          format: int32
    UserCollectionAlbums_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionAlbums_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    TrackSourceFiles_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    ProviderProductInfos_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ProviderProductInfos_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ProviderProductInfos_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Followers_Resource_Identifier_Meta:
      type: object
      properties:
        viewer:
          $ref: '#/components/schemas/Artists_Followers_Resource_Meta_ViewerContext'
    UserCollectionTracks_Attributes:
      required:
      - numberOfItems
      type: object
      properties:
        lastModifiedAt:
          type: string
          description: When the collection was last modified
          format: date-time
        numberOfItems:
          type: integer
          description: Number of items in the collection
          format: int32
    Terms_Attributes:
      required:
      - contentLink
      - countryCode
      - effectiveAt
      - termsType
      type: object
      properties:
        contentLink:
          $ref: '#/components/schemas/Link_Object'
        countryCode:
          type: string
        effectiveAt:
          type: string
          format: date-time
        termsType:
          type: string
          enum:
          - DEVELOPER
          - UPLOAD_MARKETPLACE
    Lyrics_Attributes:
      required:
      - technicalStatus
      type: object
      properties:
        direction:
          type: string
          enum:
          - LEFT_TO_RIGHT
          - RIGHT_TO_LEFT
        lrcText:
          type: string
        provider:
          oneOf:
          - $ref: '#/components/schemas/ThirdPartyLyricsProvider'
          - $ref: '#/components/schemas/TidalLyricsProvider'
        technicalStatus:
          type: string
          enum:
          - PENDING
          - PROCESSING
          - ERROR
          - OK
        text:
          type: string
    DynamicPages_Relationships:
      properties:
        dynamicModules:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Albums_SuggestedCoverArts_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Albums_SuggestedCoverArts_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Artists_Followers_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artists_Followers_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    AlbumStatistics_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/AlbumStatistics_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/AlbumStatistics_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Comments_Relationships:
      properties:
        ownerProfiles:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        parentComment:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    UserOfflineMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserOfflineMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserOfflineMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    SearchSuggestions_Suggestions:
      required:
      - query
      type: object
      properties:
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/SearchSuggestions_Highlights'
        query:
          minLength: 1
          type: string
      description: Suggested search queries
    UserOfflineMixes_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    DspSharingLinks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/DspSharingLinks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/DspSharingLinks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ProviderProductInfos_Attributes:
      required:
      - barcodeId
      type: object
      properties:
        barcodeId:
          type: string
        broken:
          type: boolean
        brokenCode:
          type: integer
          format: int32
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/TrackInfo'
    UserCollections_Tracks_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    PlayQueuesCreateOperation_Payload:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PlayQueuesCreateOperation_Payload_Data'
    UserCollections_Artists_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    UserDailyMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserDailyMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserDailyMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionVideos_Attributes:
      required:
      - numberOfItems
      type: object
      properties:
        lastModifiedAt:
          type: string
          description: When the collection was last modified
          format: date-time
        numberOfItems:
          type: integer
          description: Number of items in the collection
          format: int32
    AcceptedTerms_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/AcceptedTerms_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/AcceptedTerms_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Videos_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Videos_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Videos_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    SearchResults_Attributes:
      required:
      - trackingId
      type: object
      properties:
        didYouMean:
          type: string
          description: '''did you mean'' prompt'
          example: beatles
        trackingId:
          type: string
          description: search request unique tracking number
          example: 5896e37d-e847-4ca6-9629-ef8001719f7f
    External_Link:
      required:
      - href
      - meta
      type: object
      properties:
        href:
          type: string
        meta:
          $ref: '#/components/schemas/External_Link_Meta'
    UsageRules_Attributes:
      required:
      - countryCode
      type: object
      properties:
        countryCode:
          type: string
          description: Country code (ISO 3166-1 alpha-2)
        free:
          type: array
          description: Usage types allowed for free/ad-supported model
          items:
            type: string
            description: Usage types allowed for free/ad-supported model
            enum:
            - STREAM
            - DJ
            - STEM
            - DOWNLOAD
        inherited:
          type: boolean
          description: 'Whether these usage rules are inherited from a parent (e.g. a track inheriting from its album). Tri-state: true means the rules are inherited, false means an explicit per-track override, null means the value is unknown or not applicable (albums, videos, and legacy data).'
        paid:
          type: array
          description: Usage types allowed for paid/purchase model
          items:
            type: string
            description: Usage types allowed for paid/purchase model
            enum:
            - STREAM
            - DJ
            - STEM
            - DOWNLOAD
        subscription:
          type: array
          description: Usage types allowed for subscription model
          items:
            type: string
            description: Usage types allowed for subscription model
            enum:
            - STREAM
            - DJ
            - STEM
            - DOWNLOAD
        validFrom:
          type: string
          description: Datetime from which these usage rules are valid (ISO 8601)
          format: date-time
    TemporaryUserTokens_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/TemporaryUserTokens_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/TemporaryUserTokens_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Downloads_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Downloads_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Downloads_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TrackStatistics_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/TrackStatistics_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/TrackStatistics_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artwork_File:
      required:
      - href
      type: object
      properties:
        href:
          type: string
          description: Artwork file href
        meta:
          $ref: '#/components/schemas/Artwork_File_Meta'
      description: Artwork files
    Links:
      required:
      - self
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Links_Meta'
        next:
          type: string
          description: Link to next page
          example: /artists/xyz/relationships/tracks?page[cursor]=zyx
        self:
          type: string
          description: Link to self
          example: /artists/xyz/relationships/tracks
    AudioNormalizationData:
      type: object
      properties:
        peakAmplitude:
          type: number
          format: float
        replayGain:
          type: number
          format: float
      description: Track normalization data
    UserCollectionArtists_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollectionArtists_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    PlayQueuesCurrentRelationshipUpdateOperation_Payload:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PlayQueuesCurrentRelationshipUpdateOperation_Payload_Data'
    UserCollectionFolders_Attributes:
      required:
      - collectionType
      - createdAt
      - lastModifiedAt
      - name
      type: object
      properties:
        collectionType:
          type: string
          enum:
          - PLAYLISTS
        createdAt:
          type: string
          format: date-time
        lastModifiedAt:
          type: string
          format: date-time
        name:
          type: string
        numberOfItems:
          type: integer
          format: int32
    Tracks_Attributes:
      required:
      - duration
      - explicit
      - isrc
      - key
      - keyScale
      - mediaTags
      - popularity
      - title
      type: object
      properties:
        accessType:
          type: string
          description: Access type
          example: PRIVATE
          enum:
          - PUBLIC
          - UNLISTED
          - PRIVATE
        ai:
          type: boolean
          description: Whether the track is AI-generated
          example: false
        availability:
          type: array
          description: 'Available usage for this track. Deprecated: use ''usageRules'' instead. This field will be removed in a future version.'
          deprecated: true
          items:
            type: string
            deprecated: true
            enum:
            - STREAM
            - DJ
            - STEM
        bpm:
          type: number
          description: Beats per minute
          format: float
          example: 60.0
        copyright:
          $ref: '#/components/schemas/Copyright'
        createdAt:
          type: string
          description: Datetime of track creation (ISO 8601)
          format: date-time
        duration:
          type: string
          description: Duration (ISO 8601)
          example: PT2M58S
        explicit:
          type: boolean
          description: Explicit content
          example: false
        externalLinks:
          type: array
          description: Track links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        isrc:
          type: string
          description: International Standard Recording Code (ISRC)
          example: QMJMT1701229
        key:
          type: string
          description: Key
          enum:
          - UNKNOWN
          - C
          - CSharp
          - D
          - Eb
          - E
          - F
          - FSharp
          - G
          - Ab
          - A
          - Bb
          - B
        keyScale:
          type: string
          description: The scale of the key
          enum:
          - UNKNOWN
          - MAJOR
          - MINOR
          - AEOLIAN
          - BLUES
          - DORIAN
          - HARMONIC_MINOR
          - LOCRIAN
          - LYDIAN
          - MIXOLYDIAN
          - PENTATONIC_MAJOR
          - PHRYGIAN
          - MELODIC_MINOR
          - PENTATONIC_MINOR
        mediaTags:
          type: array
          items:
            type: string
            description: Media metadata tags
            example: HIRES_LOSSLESS
        popularity:
          type: number
          description: Popularity (0.0 - 1.0)
          format: double
          example: 0.56
        spotlighted:
          type: boolean
          description: Is the track spotlighted?
          example: true
        title:
          type: string
          description: Track title
          example: Kill Jay Z
        toneTags:
          type: array
          items:
            type: string
            description: Tone tags
            example: Happy
        version:
          type: string
          description: Track version, complements title
          example: original, mix etc
    UserDiscoveryMixes_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    PlayQueues_Past_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/PlayQueues_Past_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    PlayQueues_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/PlayQueues_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/PlayQueues_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    PlayQueues_Future_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/PlayQueues_Future_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionTracks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionTracks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionTracks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Albums_Relationships:
      properties:
        albumStatistics:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        coverArt:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        genres:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        items:
          $ref: '#/components/schemas/Albums_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        priceConfig:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        providers:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        replacement:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        shares:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        similarAlbums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        suggestedCoverArts:
          $ref: '#/components/schemas/Albums_SuggestedCoverArts_Multi_Relationship_Data_Document'
        usageRules:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    UserCollectionTracks_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionTracks_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Artists_TrackProviders_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artists_TrackProviders_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Artwork_File_Meta:
      required:
      - height
      - width
      type: object
      properties:
        height:
          type: integer
          description: Height (in pixels)
          format: int32
          example: 80
        width:
          type: integer
          description: Width (in pixels)
          format: int32
          example: 80
      description: Metadata about an artwork file
    Albums_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Albums_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Albums_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ProviderProductInfos_Relationships:
      properties:
        provider:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Playlists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Playlists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Playlists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionPlaylists_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    LegacyBarcodeId:
      type: object
      properties:
        value:
          type: string
      description: List of UPCs retrieved from the DSP
    UserCollectionArtists_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionArtists_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Credits_Attributes:
      required:
      - name
      - role
      type: object
      properties:
        name:
          type: string
          description: Credit name
          example: John Lennon
        role:
          type: string
          description: Credit role
          example: Vocals
    Copyright:
      required:
      - text
      type: object
      properties:
        text:
          maxLength: 1024
          minLength: 1
          type: string
      description: Copyright information
    Appreciations_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Appreciations_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionFolders_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionFolders_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Playlists_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Playlists_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    PlayQueues_Future_Resource_Identifier_Meta:
      required:
      - batchId
      - itemId
      type: object
      properties:
        batchId:
          type: string
          format: uuid
        itemId:
          minLength: 1
          type: string
        legacySource:
          $ref: '#/components/schemas/LegacySource'
    TrackSourceFiles_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/TrackSourceFiles_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/TrackSourceFiles_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    PriceConfigurations_Attributes:
      required:
      - currency
      - price
      type: object
      properties:
        currency:
          type: string
          description: Currency code (ISO 4217)
          enum:
          - USD
        price:
          type: string
          description: Price amount with max 2 decimal places
          example: '9.99'
    Link_Object:
      type: object
      properties:
        href:
          type: string
      description: A JSON:API link object
    OfflineTasks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/OfflineTasks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/OfflineTasks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UsageRules_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UsageRules_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Terms_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Terms_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Shares_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        sharedResources:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionAlbums_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    File_Status:
      required:
      - moderationFileStatus
      - technicalFileStatus
      type: object
      properties:
        moderationFileStatus:
          type: string
          description: Moderation status for file
          enum:
          - NOT_MODERATED
          - SCANNING
          - FLAGGED
          - TAKEN_DOWN
          - OK
          - ERROR
        technicalFileStatus:
          type: string
          description: Technical status for file
          enum:
          - UPLOAD_REQUESTED
          - PROCESSING
          - OK
          - ERROR
          - DELETED
      description: File status
    Tracks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Tracks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Tracks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollections_Videos_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Videos_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionSaveForLaters_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollectionSaveForLaters_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Users_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Users_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Installations_OfflineInventory_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    DspSharingLinks_Relationships:
      properties:
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    SquareConnections_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SquareConnections_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ManualArtistClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ManualArtistClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource_Identifier'
        links:
          $ref: '#/components/schemas/Links'
    Artists_Followers_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Artists_Followers_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    TrackManifests_Attributes:
      type: object
      properties:
        albumAudioNormalizationData:
          $ref: '#/components/schemas/AudioNormalizationData'
        drmData:
          $ref: '#/components/schemas/DrmData'
        formats:
          type: array
          description: Formats present in manifest
          items:
            type: string
            description: Formats present in manifest
            enum:
            - HEAACV1
            - AACLC
            - FLAC
            - FLAC_HIRES
            - EAC3_JOC
        hash:
          type: string
          description: Unique manifest hash
        previewReason:
          type: string
          description: Why a preview is served instead of the full track
          enum:
          - FULL_REQUIRES_SUBSCRIPTION
          - FULL_REQUIRES_PURCHASE
          - FULL_REQUIRES_HIGHER_ACCESS_TIER
        trackAudioNormalizationData:
          $ref: '#/components/schemas/AudioNormalizationData'
        trackPresentation:
          type: string
          description: Track presentation
          enum:
          - FULL
          - PREVIEW
        uri:
          type: string
          description: Manifest URI
    Lyrics_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        track:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Downloads_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionVideos_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionVideos_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollections_Albums_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Albums_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    DrmData:
      type: object
      properties:
        certificateUrl:
          type: string
        drmSystem:
          type: string
          enum:
          - FAIRPLAY
          - WIDEVINE
        initData:
          type: array
          items:
            type: string
        licenseUrl:
          type: string
      description: DRM data. Absence implies no DRM.
    Albums_Items_Resource_Identifier_Meta:
      required:
      - trackNumber
      - volumeNumber
      type: object
      properties:
        trackNumber:
          type: integer
          description: track number
          format: int32
          example: 4
        volumeNumber:
          type: integer
          description: volume number
          format: int32
          example: 1
    AcceptedTerms_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        terms:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    ManualArtistClaims_Attributes:
      required:
      - artistId
      - legalFirstName
      - legalLastName
      - websiteOrSocialLink
      type: object
      properties:
        acceptedTerms:
          type: boolean
          description: Accepted terms and conditions
        artistId:
          type: string
          description: Artist ID being claimed
        createdAt:
          type: string
          description: Timestamp when the claim was created
          format: date-time
        distributorName:
          type: string
          description: Distributor name
        enrollmentType:
          type: string
          description: Enrollment type
        errorReason:
          type: string
          description: Error reason if claim failed
        labelContactEmail:
          type: string
          description: Label contact email
        labelContactName:
          type: string
          description: Label contact name
        labelName:
          type: string
          description: Label name
        lastModifiedAt:
          type: string
          description: Timestamp when the claim was last modified
          format: date-time
        legalFirstName:
          minLength: 1
          type: string
          description: Legal first name
        legalLastName:
          minLength: 1
          type: string
          description: Legal last name
        managerEmail:
          type: string
          description: Manager email
        managerName:
          type: string
          description: Manager name
        role:
          type: string
          description: Role
        selectedAlbums:
          type: array
          description: Album IDs selected by user
          items:
            type: string
            description: Album IDs selected by user
        selectedSingles:
          type: array
          description: Single IDs selected by user
          items:
            type: string
            description: Single IDs selected by user
        socialLink:
          $ref: '#/components/schemas/Link_Object'
        status:
          type: string
          description: Claim status
          enum:
          - SUBMITTED
          - PENDING
          - APPROVED
          - REJECTED
        upcs:
          type: array
          description: UPCs associated with the claim
          items:
            type: string
            description: UPCs associated with the claim
        websiteOrSocialLink:
          $ref: '#/components/schemas/Link_Object'
    SearchSuggestions_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SearchSuggestions_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/SearchSuggestions_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TrackFiles_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/TrackFiles_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionFolders_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    ArtistBiographies_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ArtistBiographies_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ArtistBiographies_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ArtistClaims_Relationships:
      properties:
        acceptedArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        recommendedArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Clients_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollections_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollections_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollections_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    PlayQueuesCurrentRelationshipUpdateOperation_Payload_Data:
      required:
      - id
      - meta
      - type
      type: object
      properties:
        id:
          type: string
        meta:
          $ref: '#/components/schemas/PlayQueuesCurrentRelationshipUpdateOperation_Payload_Data_Meta'
        type:
          type: string
          enum:
          - tracks
          - videos
    SearchHistoryEntries_Attributes:
      required:
      - highlights
      - query
      type: object
      properties:
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/Highlight'
        query:
          minLength: 1
          type: string
    UserNewReleaseMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserNewReleaseMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserNewReleaseMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollections_Playlists_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Playlists_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Genres_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Genres_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Comments_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Comments_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Comments_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserReports_Attributes:
      required:
      - description
      - reason
      type: object
      properties:
        description:
          type: string
          description: Description
        reason:
          type: string
          description: Reason
          enum:
          - SEXUAL_CONTENT_OR_NUDITY
          - VIOLENT_OR_DANGEROUS_CONTENT
          - HATEFUL_OR_ABUSIVE_CONTENT
          - HARASSMENT
          - PRIVACY_VIOLATION
          - SCAMS_OR_FRAUD
          - SPAM
          - COPYRIGHT_INFRINGEMENT
          - APPEAL
          - UNKNOWN
    UserCollectionFolders_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionFolders_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionFolders_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ProviderOwners_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ProviderOwners_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ProviderOwners_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionSaveForLaters_Attributes:
      required:
      - numberOfItems
      type: object
      properties:
        lastModifiedAt:
          type: string
          description: When the collection was last modified
          format: date-time
        numberOfItems:
          type: integer
          description: Number of items in the collection
          format: int32
    PlayQueuesFutureRelationshipRemoveOperation_Payload:
      required:
      - data
      type: object
      properties:
        data:
          maxItems: 20
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/PlayQueuesFutureRelationshipRemoveOperation_Payload_Data'
    Artists_TrackProviders_Resource_Identifier_Meta:
      required:
      - numberOfTracks
      type: object
      properties:
        numberOfTracks:
          type: integer
          description: Total number of tracks released together with the provider
          format: int64
          example: 14
    TrackInfo:
      required:
      - trackId
      type: object
      properties:
        broken:
          type: boolean
        brokenCode:
          type: integer
          format: int32
        trackId:
          type: string
    Artists_Attributes:
      required:
      - name
      - popularity
      type: object
      properties:
        contributionsEnabled:
          type: boolean
          description: Is the artist enabled for contributions?
          example: true
        contributionsSalesPitch:
          type: string
          description: Contributions sales pitch
          example: Help me be a full time artist
        externalLinks:
          type: array
          description: Artist links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        handle:
          type: string
          description: Artist handle
          example: jayz
        name:
          type: string
          description: Artist name
          example: JAY Z
        ownerType:
          type: string
          description: 'Ownership type of the artist profile. LABEL: label-managed profile, USER: user-created profile, MIXED: claimed profile with both label and user content. May be null during rollout/backfill.'
          enum:
          - LABEL
          - USER
          - MIXED
        popularity:
          type: number
          description: Artist popularity (0.0 - 1.0)
          format: double
          example: 0.56
        spotlighted:
          type: boolean
          description: Is the artist spotlighted?
          example: true
    ArtistClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ArtistClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ArtistClaims_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    SavedShares_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SavedShares_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Tracks_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        credits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        download:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        genres:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        lyrics:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        metadataStatus:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        priceConfig:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        providers:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        radio:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        replacement:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        shares:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        similarTracks:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        sourceFile:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        suggestedTracks:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        trackStatistics:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        usageRules:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    LyricsProvider:
      type: object
      properties:
        name:
          type: string
        source:
          type: string
          enum:
          - TIDAL
          - THIRD_PARTY
      discriminator:
        mapping:
          THIRD_PARTY: '#/components/schemas/ThirdPartyLyricsProvider'
          TIDAL: '#/components/schemas/TidalLyricsProvider'
        propertyName: source
    ContentClaims_Relationships:
      properties:
        claimedResource:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        claimingArtist:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionPlaylists_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionPlaylists_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    SearchSuggestions_History:
      required:
      - query
      type: object
      properties:
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/SearchSuggestions_Highlights'
        query:
          minLength: 1
          type: string
      description: Suggestions from search history. Deprecated — use the history relationship instead. Will be deleted shortly.
    TracksMetadataStatus_Attributes:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          description: Status of the metadata detection job
          enum:
          - PENDING
          - PROCESSING
          - ERROR
          - OK
    Purchases_Attributes:
      required:
      - createdAt
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime of purchase (ISO 8601)
          format: date-time
        status:
          type: string
          description: Current status of the purchase
          enum:
          - ACTIVE
    Genres_Attributes:
      required:
      - genreName
      type: object
      properties:
        genreName:
          type: string
          description: Genre name
          example: pop
    PlayQueuesFutureRelationshipRemoveOperation_Payload_Data_Meta:
      required:
      - itemId
      type: object
      properties:
        itemId:
          type: string
    TrackSourceFiles_Attributes:
      required:
      - md5Hash
      - size
      - status
      - uploadLink
      type: object
      properties:
        md5Hash:
          type: string
          description: MD5 hash of file to be uploaded
        size:
          type: integer
          description: File size of the track in bytes
          format: int64
        status:
          $ref: '#/components/schemas/File_Status'
        uploadLink:
          $ref: '#/components/schemas/File_Upload_Link'
    StripeConnections_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserRecommendations_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserRecommendations_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserRecommendations_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionVideos_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollectionVideos_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    VideoManifests_Attributes:
      type: object
      properties:
        drmData:
          $ref: '#/components/schemas/DrmData'
        link:
          $ref: '#/components/schemas/Link_Object'
        previewReason:
          type: string
          description: Why a preview is served instead of the full video
          enum:
          - FULL_REQUIRES_SUBSCRIPTION
          - FULL_REQUIRES_PURCHASE
          - FULL_REQUIRES_HIGHER_ACCESS_TIER
        videoPresentation:
          type: string
          description: Video presentation
          enum:
          - FULL
          - PREVIEW
    Playlists_Items_Resource_Identifier_Meta:
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
        itemId:
          type: string
    Links_Meta:
      required:
      - nextCursor
      type: object
      properties:
        nextCursor:
          type: string
          description: Only cursor part of next link
          example: zyx
      description: Non-standard meta information for links
    VideoManifests_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/VideoManifests_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Artists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Artists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionVideos_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    DynamicModules_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/DynamicModules_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/DynamicModules_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ProviderOwners_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
    UserCollections_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/UserCollections_Albums_Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/UserCollections_Artists_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        playlists:
          $ref: '#/components/schemas/UserCollections_Playlists_Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/UserCollections_Tracks_Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/UserCollections_Videos_Multi_Relationship_Data_Document'
    Credits_Relationships:
      properties:
        artist:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        category:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    AcceptedTerms_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
    Installations_Relationships:
      properties:
        offlineInventory:
          $ref: '#/components/schemas/Installations_OfflineInventory_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollections_Artists_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollections_Artists_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Download_Link:
      required:
      - href
      - meta
      type: object
      properties:
        href:
          type: string
          description: URL to download the content from
        meta:
          $ref: '#/components/schemas/Download_Link_Meta'
    PlayQueuesFutureRelationshipUpdateOperation_Payload_Meta:
      required:
      - positionBefore
      type: object
      properties:
        positionBefore:
          type: string
    PlayQueuesFutureRelationshipUpdateOperation_Payload_Data:
      required:
      - id
      - meta
      - type
      type: object
      properties:
        id:
          type: string
        meta:
          $ref: '#/components/schemas/PlayQueuesFutureRelationshipUpdateOperation_Payload_Data_Meta'
        type:
          type: string
          enum:
          - tracks
          - videos
    UserCollectionPlaylists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionPlaylists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionPlaylists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserRecommendations_Attributes:
      type: object
    Artists_Following_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Artists_Following_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Albums_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Albums_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    StripeConnections_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/StripeConnections_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/StripeConnections_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TemporaryUserTokens_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Reactions_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Reactions_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Reactions_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    File_Upload_Link:
      required:
      - href
      - meta
      type: object
      properties:
        href:
          type: string
          description: Href to upload actual file to
        meta:
          $ref: '#/components/schemas/File_Upload_Link_Meta'
      description: Upload link
    SearchHistoryEntries_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SearchHistoryEntries_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    SearchSuggestions_Highlights:
      required:
      - length
      - start
      type: object
      properties:
        length:
          type: integer
          format: int32
        start:
          type: integer
          format: int32
    Playlists_Attributes:
      required:
      - accessType
      - bounded
      - createdAt
      - externalLinks
      - lastModifiedAt
      - name
      - numberOfFollowers
      - playlistType
      type: object
      properties:
        accessType:
          type: string
          description: Access type
          example: PUBLIC
          enum:
          - PUBLIC
          - UNLISTED
        bounded:
          type: boolean
          description: Indicates if the playlist has a duration and set number of tracks
        createdAt:
          type: string
          description: Datetime of playlist creation (ISO 8601)
          format: date-time
        description:
          type: string
          description: Playlist description
        duration:
          type: string
          description: Duration of playlist (ISO 8601)
          example: P30M5S
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Datetime of last modification of the playlist (ISO 8601)
          format: date-time
        name:
          minLength: 1
          type: string
          description: Playlist name
        numberOfFollowers:
          type: integer
          description: The amount of followers of the playlist
          format: int32
        numberOfItems:
          type: integer
          description: Number of items in the playlist
          format: int32
        playlistType:
          type: string
          description: The type of the playlist
          enum:
          - EDITORIAL
          - USER
          - MIX
          - ARTIST
    ArtistRoles_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ArtistRoles_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    DynamicModules_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    TrackStatistics_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Artwork_SourceFile:
      required:
      - md5Hash
      - size
      - status
      - uploadLink
      type: object
      properties:
        md5Hash:
          type: string
          description: MD5 hash of file to be uploaded
        size:
          type: integer
          description: File size of the artwork in bytes
          format: int64
        status:
          $ref: '#/components/schemas/File_Status'
        uploadLink:
          $ref: '#/components/schemas/File_Upload_Link'
      description: Artwork source file
    StripeDashboardLinks_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    SearchResults_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        playlists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        topHits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Playlists_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Playlists_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Installations_OfflineInventory_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Installations_OfflineInventory_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    PlayQueuesFutureRelationshipUpdateOperation_Payload_Data_Meta:
      required:
      - itemId
      type: object
      properties:
        itemId:
          type: string
    Albums_SuggestedCoverArts_Resource_Identifier_Meta:
      required:
      - backgroundColor
      - foregroundColor
      type: object
      properties:
        backgroundColor:
          type: string
          description: Background color for the suggested artwork
        foregroundColor:
          type: string
          description: Foreground color for the suggested artwork
    UserCollectionSaveForLaters_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionSaveForLaters_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Installations_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Installations_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Installations_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    StripeDashboardLinks_Attributes:
      type: object
      properties:
        dashboardLink:
          $ref: '#/components/schemas/Link_Object'
    UserCollectionSaveForLaters_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    Reactions_Relationships:
      properties:
        ownerProfiles:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserDailyMixes_Attributes:
      type: object
    External_Link_Meta:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - TIDAL_SHARING
          - TIDAL_USER_SHARING
          - TIDAL_AUTOPLAY_ANDROID
          - TIDAL_AUTOPLAY_IOS
          - TIDAL_AUTOPLAY_WEB
          - TWITTER
          - FACEBOOK
          - INSTAGRAM
          - TIKTOK
          - SNAPCHAT
          - OFFICIAL_HOMEPAGE
          - CASHAPP_CONTRIBUTIONS
          - ARTIST_CLAIM_PROVIDER_REDIRECT
          - STRIPE_AUTHORIZATION_REDIRECT
          - SQUARE_AUTHORIZATION_REDIRECT
      description: metadata about an external link
    Download_Link_Meta:
      type: object
      properties:
        requiredHeaders:
          type: array
          description: HTTP headers required when requesting the download URL
          items:
            type: string
            description: HTTP headers required when requesting the download URL
      description: Metadata for download link
    UserCollectionTracks_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    Users_Attributes:
      required:
      - country
      - username
      type: object
      properties:
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: US
        email:
          type: string
          description: email address
          example: test@test.com
        emailVerified:
          type: boolean
          description: Is the email verified
          example: true
        firstName:
          type: string
          description: Users first name
          example: John
        lastName:
          type: string
          description: Users last name
          example: Rambo
        nostrPublicKey:
          type: string
          description: Users nostr public key
          example: e3fc3965800f9c729b483a2a7291f30e569fbf5ab91a6eef332f9e28a5e923dd
        username:
          type: string
          description: user name
          example: username
    UserCollectionPlaylists_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollectionPlaylists_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Albums_SuggestedCoverArts_Multi_Relationship_Data_Document_Meta:
      type: object
      properties:
        status:
          type: string
          enum:
          - PENDING
          - PROCESSING
          - ERROR
          - OK
    PlayQueues_Current_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/PlayQueues_Current_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    File_Upload_Link_Meta:
      required:
      - method
      type: object
      properties:
        headers:
          type: object
          additionalProperties:
            type: string
            description: HTTP headers that must be added to the operation
          description: HTTP headers that must be added to the operation
        method:
          type: string
          description: HTTP method
      description: metadata for upload link
    PlayQueues_Current_Resource_Identifier_Meta:
      required:
      - batchId
      - itemId
      type: object
      properties:
        batchId:
          type: string
          format: uuid
        itemId:
          minLength: 1
          type: string
        legacySource:
          $ref: '#/components/schemas/LegacySource'
    UserCollections_Tracks_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Tracks_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionArtists_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    Highlight:
      type: object
      properties:
        length:
          type: integer
          format: int32
        start:
          type: integer
          format: int32
    Shares_Attributes:
      required:
      - code
      - createdAt
      type: object
      properties:
        code:
          type: string
          description: Share code
        createdAt:
          type: string
          description: Datetime of share creation (ISO 8601)
          format: date-time
        externalLinks:
          type: array
          description: Links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
    SquareConnections_Attributes:
      required:
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Timestamp when the connection was created
          format: date-time
        externalLinks:
          type: array
          description: External links for Square connection
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Timestamp when the connection was last modified
          format: date-time
        status:
          minLength: 1
          type: string
          description: Current status of this Square connection
          enum:
          - DRAFT
          - PENDING_REQUIREMENTS
          - KYC_PENDING
          - ACCEPTED
          - REJECTED
          - SUSPENDED
    PlayQueues_Past_Resource_Identifier_Meta:
      required:
      - batchId
      - itemId
      type: object
      properties:
[...]
