openapi: 3.0.1
info:
  title: TIDAL Social API
  version: 1.10.14
  description: 'Social and sharing features: shares, DSP sharing links, comments, reactions, and appreciations across albums,
    artists, tracks, and playlists.'
  x-source: https://tidal-music.github.io/tidal-api-reference/tidal-api-oas.json
servers:
- url: https://openapi.tidal.com/v2
  description: Production
paths:
  /appreciations:
    post:
      description: Creates a new appreciation.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AppreciationsCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Appreciations_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single appreciation.
      tags:
      - appreciations
      x-path-item-properties:
        required-access-tier: INTERNAL
  /comments:
    get:
      description: Retrieves multiple comments by available filters, or without if applicable.
      parameters:
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: Values prefixed with "-" are sorted descending; values without it are sorted ascending.
        in: query
        name: sort
        required: false
        schema:
          type: array
          items:
            type: string
            example: createdAt
            enum:
            - createdAt
            - -createdAt
            - likeCount
            - -likeCount
            - replyCount
            - -replyCount
            - startTime
            - -startTime
            default: -createdAt
            x-enum-varnames:
            - CreatedAtAsc
            - CreatedAtDesc
            - LikeCountAsc
            - LikeCountDesc
            - ReplyCountAsc
            - ReplyCountDesc
            - StartTimeAsc
            - StartTimeDesc
      - description: 'Allows the client to customize which related resources should be returned. Available options: ownerProfiles,
          owners, parentComment'
        example: ownerProfiles
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: ownerProfiles
      - description: Filter by parent comment ID to get replies (e.g. `550e8400-e29b-41d4-a716-446655440000`)
        in: query
        name: filter[parentComment.id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by subject resource ID (e.g. `12345`)
        in: query
        name: filter[subject.id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by subject resource type (e.g. `albums`)
        in: query
        name: filter[subject.type]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - albums
            - tracks
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Comments_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get multiple comments.
      tags:
      - comments
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Creates a new comment.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CommentsCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Comments_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single comment.
      tags:
      - comments
      x-path-item-properties:
        required-access-tier: INTERNAL
  /comments/{id}:
    delete:
      description: Deletes existing comment.
      parameters:
      - description: Comment Id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete single comment.
      tags:
      - comments
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves single comment by id.
      parameters:
      - description: Comment Id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: ownerProfiles,
          owners, parentComment'
        example: ownerProfiles
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: ownerProfiles
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Comments_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get single comment.
      tags:
      - comments
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates existing comment.
      parameters:
      - description: Comment Id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CommentsUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update single comment.
      tags:
      - comments
      x-path-item-properties:
        required-access-tier: INTERNAL
  /comments/{id}/relationships/ownerProfiles:
    get:
      description: Retrieves ownerProfiles relationship.
      parameters:
      - description: Comment Id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: ownerProfiles'
        example: ownerProfiles
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: ownerProfiles
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Comments_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get ownerProfiles relationship ("to-many").
      tags:
      - comments
      x-path-item-properties:
        required-access-tier: INTERNAL
  /comments/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Comment Id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Comments_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get owners relationship ("to-many").
      tags:
      - comments
      x-path-item-properties:
        required-access-tier: INTERNAL
  /comments/{id}/relationships/parentComment:
    get:
      description: Retrieves parentComment relationship.
      parameters:
      - description: Comment Id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: parentComment'
        example: parentComment
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: parentComment
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Comments_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get parentComment relationship ("to-one").
      tags:
      - comments
      x-path-item-properties:
        required-access-tier: INTERNAL
  /dspSharingLinks:
    get:
      description: Retrieves multiple dspSharingLinks by available filters, or without if applicable.
      parameters:
      - description: 'Allows the client to customize which related resources should be returned. Available options: subject'
        example: subject
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: subject
      - description: The id of the subject resource
        in: query
        name: filter[subject.id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: The type of the subject resource (e.g., albums, tracks, artists) (e.g. `tracks`)
        in: query
        name: filter[subject.type]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - tracks
            - albums
            - artists
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DspSharingLinks_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get multiple dspSharingLinks.
      tags:
      - dspSharingLinks
      x-path-item-properties:
        required-access-tier: INTERNAL
  /dspSharingLinks/{id}/relationships/subject:
    get:
      description: Retrieves subject relationship.
      parameters:
      - description: DspSharingLinks Id
        example: QUxCVU1TOjEyMzQ1
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: subject'
        example: subject
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: subject
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DspSharingLinks_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get subject relationship ("to-one").
      tags:
      - dspSharingLinks
      x-path-item-properties:
        required-access-tier: INTERNAL
  /reactions:
    get:
      description: Retrieves multiple reactions by available filters, or without if applicable.
      parameters:
      - in: query
        name: stats
        required: false
        schema:
          type: string
          enum:
          - ALL
          - COUNTS_BY_TYPE
          - TOTAL_COUNT
      - in: query
        name: statsOnly
        required: false
        schema:
          type: boolean
      - in: query
        name: viewerContext
        required: false
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: ownerProfiles,
          owners'
        example: ownerProfiles
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: ownerProfiles
      - description: "Filter by emoji (e.g. `\U0001F44D`)"
        in: query
        name: filter[emoji]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by subject resource ID (e.g. `12345`)
        in: query
        name: filter[subject.id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Filter by subject resource type (e.g. `albums`)
        in: query
        name: filter[subject.type]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - albums
            - tracks
            - artists
            - videos
            - playlists
            - comments
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Reactions_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get multiple reactions.
      tags:
      - reactions
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Creates a new reaction.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReactionsCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Reactions_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single reaction.
      tags:
      - reactions
      x-path-item-properties:
        required-access-tier: INTERNAL
  /reactions/{id}:
    delete:
      description: Deletes existing reaction.
      parameters:
      - description: Reaction Id
        example: nejMcAhh5N8S3EQ4LaqysVdI0cZZ
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete single reaction.
      tags:
      - reactions
      x-path-item-properties:
        required-access-tier: INTERNAL
  /reactions/{id}/relationships/ownerProfiles:
    get:
      description: Retrieves ownerProfiles relationship.
      parameters:
      - description: Reaction Id
        example: nejMcAhh5N8S3EQ4LaqysVdI0cZZ
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: ownerProfiles'
        example: ownerProfiles
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: ownerProfiles
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Reactions_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get ownerProfiles relationship ("to-many").
      tags:
      - reactions
      x-path-item-properties:
        required-access-tier: INTERNAL
  /reactions/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Reaction Id
        example: nejMcAhh5N8S3EQ4LaqysVdI0cZZ
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Reactions_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get owners relationship ("to-many").
      tags:
      - reactions
      x-path-item-properties:
        required-access-tier: INTERNAL
  /savedShares:
    post:
      description: Creates a new savedShare.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/SavedSharesCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SavedShares_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single savedShare.
      tags:
      - savedShares
      x-path-item-properties:
        required-access-tier: INTERNAL
  /shares:
    get:
      description: Retrieves multiple shares by available filters, or without if applicable.
      parameters:
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners,
          sharedResources'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: A share code (e.g. `xyz`)
        in: query
        name: filter[code]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: List of shares IDs (e.g. `a468bee88def`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Shares_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get multiple shares.
      tags:
      - shares
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Creates a new share.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/SharesCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Shares_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single share.
      tags:
      - shares
      x-path-item-properties:
        required-access-tier: INTERNAL
  /shares/{id}:
    get:
      description: Retrieves single share by id.
      parameters:
      - description: User share id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners,
          sharedResources'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Shares_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get single share.
      tags:
      - shares
      x-path-item-properties:
        required-access-tier: INTERNAL
  /shares/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: User share id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Shares_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get owners relationship ("to-many").
      tags:
      - shares
      x-path-item-properties:
        required-access-tier: INTERNAL
  /shares/{id}/relationships/sharedResources:
    get:
      description: Retrieves sharedResources relationship.
      parameters:
      - description: User share id
        example: a468bee88def
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: sharedResources'
        example: sharedResources
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: sharedResources
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Shares_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get sharedResources relationship ("to-many").
      tags:
      - shares
      x-path-item-properties:
        required-access-tier: INTERNAL
components:
  schemas:
    PlayQueues_Future_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PlayQueues_Future_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    StripeConnections_Attributes:
      required:
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Timestamp when the connection was created
          format: date-time
        externalLinks:
          type: array
          description: External links for Stripe connection
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Timestamp when the connection was last modified
          format: date-time
        status:
          minLength: 1
          type: string
          description: Current status of this Stripe connection
          enum:
          - PENDING_REQUIREMENTS
          - UNDER_REVIEW
          - ACCEPTED
          - REJECTED
          - SUSPENDED
    VideoManifests_Attributes:
      type: object
      properties:
        drmData:
          $ref: '#/components/schemas/DrmData'
        link:
          $ref: '#/components/schemas/Link_Object'
        previewReason:
          type: string
          description: Why a preview is served instead of the full video
          enum:
          - FULL_REQUIRES_SUBSCRIPTION
          - FULL_REQUIRES_PURCHASE
          - FULL_REQUIRES_HIGHER_ACCESS_TIER
        videoPresentation:
          type: string
          description: Video presentation
          enum:
          - FULL
          - PREVIEW
    UserOfflineMixes_Attributes:
      type: object
    Users_Attributes:
      required:
      - country
      - username
      type: object
      properties:
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: US
        email:
          type: string
          description: email address
          example: test@test.com
        emailVerified:
          type: boolean
          description: Is the email verified
          example: true
        firstName:
          type: string
          description: Users first name
          example: John
        lastName:
          type: string
          description: Users last name
          example: Rambo
        nostrPublicKey:
          type: string
          description: Users nostr public key
          example: e3fc3965800f9c729b483a2a7291f30e569fbf5ab91a6eef332f9e28a5e923dd
        username:
          type: string
          description: user name
          example: username
    UserCollections_Playlists_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    DrmData:
      type: object
      properties:
        certificateUrl:
          type: string
        drmSystem:
          type: string
          enum:
          - FAIRPLAY
          - WIDEVINE
        initData:
          type: array
          items:
            type: string
        licenseUrl:
          type: string
      description: DRM data. Absence implies no DRM.
    UserCollections_Attributes:
      type: object
    UserCollections_Playlists_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollections_Playlists_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Shares_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        sharedResources:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Videos_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        credits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        providers:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        replacement:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        similarVideos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        suggestedVideos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        thumbnailArt:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        usageRules:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    ProviderProductInfos_Relationships:
      properties:
        provider:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Installations_OfflineInventory_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Installations_OfflineInventory_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    CommentsCreateOperation_Payload_Data:
      required:
      - attributes
      - relationships
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/CommentsCreateOperation_Payload_Data_Attributes'
        relationships:
          $ref: '#/components/schemas/CommentsCreateOperation_Payload_Data_Relationships'
        type:
          type: string
          enum:
          - comments
    UserDataExportRequests_Attributes:
      required:
      - flowType
      type: object
      properties:
        flowType:
          type: string
          description: The type of data export flow
          enum:
          - GDPR
          - CCPA
          - COPPA
          - ANZ_PA
          - US_PRIVACY_REGULATION
          - APPI
          - RETENTION_POLICY
    Purchases_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Clients_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Clients_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Clients_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource_Identifier'
        links:
          $ref: '#/components/schemas/Links'
    SharesCreateOperation_Payload_Data_Relationships_SharedResources:
      required:
      - data
      type: object
      properties:
        data:
          maxItems: 1
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/SharesCreateOperation_Payload_Data_Relationships_SharedResources_Data'
    Artists_Following_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Artists_Following_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionPlaylists_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionPlaylists_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserOfflineMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserOfflineMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserOfflineMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    SavedSharesCreateOperation_Payload_Data_Relationships_Share:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SavedSharesCreateOperation_Payload_Data_Relationships_Share_Data'
    Albums_Items_Resource_Identifier_Meta:
      required:
      - trackNumber
      - volumeNumber
      type: object
      properties:
        trackNumber:
          type: integer
          description: track number
          format: int32
          example: 4
        volumeNumber:
          type: integer
          description: volume number
          format: int32
          example: 1
    UserCollections_Playlists_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Playlists_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    File_Status:
      required:
      - moderationFileStatus
      - technicalFileStatus
      type: object
      properties:
        moderationFileStatus:
          type: string
          description: Moderation status for file
          enum:
          - NOT_MODERATED
          - SCANNING
          - FLAGGED
          - TAKEN_DOWN
          - OK
          - ERROR
        technicalFileStatus:
          type: string
          description: Technical status for file
          enum:
          - UPLOAD_REQUESTED
          - PROCESSING
          - OK
          - ERROR
          - DELETED
      description: File status
    Comments_Single_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Comments_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    StripeDashboardLinks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/StripeDashboardLinks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/StripeDashboardLinks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollections_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/UserCollections_Albums_Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/UserCollections_Artists_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        playlists:
          $ref: '#/components/schemas/UserCollections_Playlists_Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/UserCollections_Tracks_Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/UserCollections_Videos_Multi_Relationship_Data_Document'
    UserNewReleaseMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserNewReleaseMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserNewReleaseMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    DspSharingLinks_Relationships:
      properties:
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    CommentsUpdateOperation_Payload:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CommentsUpdateOperation_Payload_Data'
    DspSharingLinks_Single_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Purchases_Attributes:
      required:
      - createdAt
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime of purchase (ISO 8601)
          format: date-time
        status:
          type: string
          description: Current status of the purchase
          enum:
          - ACTIVE
    Appreciations_Single_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Appreciations_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Providers_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Providers_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    AcceptedTerms_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
    SavedShares_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime of saved share creation (ISO 8601)
          format: date-time
    Credits_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Credits_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Credits_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Following_Resource_Identifier_Meta:
      type: object
      properties:
        viewer:
          $ref: '#/components/schemas/Artists_Followers_Resource_Meta_ViewerContext'
    Credits_Attributes:
      required:
      - name
      - role
      type: object
      properties:
        name:
          type: string
          description: Credit name
          example: John Lennon
        role:
          type: string
          description: Credit role
          example: Vocals
    StripeDashboardLinks_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    DynamicPages_Attributes:
      required:
      - pageType
      - reportingId
      type: object
      properties:
        pageType:
          type: string
          description: Type of the page eg. home, artist
          example: HOME_STATIC
          enum:
          - HOME_STATIC
          - HOME_UPLOADS
          - HOME_EDITORIAL
          - HOME_FREE
          - ARTIST
        reportingId:
          type: string
          description: Id used for reporting user events
          format: uuid
          example: 83c92ac0-b8e3-4e28-9e27-07909dcde1e5
    ContentClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ContentClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ContentClaims_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Following_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artists_Following_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollectionAlbums_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionAlbums_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    ArtistRoles_Attributes:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Name of the artist role
    SearchSuggestions_Highlights:
      required:
      - length
      - start
      type: object
      properties:
        length:
          type: integer
          format: int32
        start:
          type: integer
          format: int32
    PlayQueues_Past_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/PlayQueues_Past_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Artists_TrackProviders_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Artists_TrackProviders_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Lyrics_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Lyrics_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Lyrics_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Copyright:
      required:
      - text
      type: object
      properties:
        text:
          maxLength: 1024
          minLength: 1
          type: string
      description: Copyright information
    Download_Link_Meta:
      type: object
      properties:
        requiredHeaders:
          type: array
          description: HTTP headers required when requesting the download URL
          items:
            type: string
            description: HTTP headers required when requesting the download URL
      description: Metadata for download link
    Playlists_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Playlists_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollections_Artists_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    TrackFiles_Attributes:
      type: object
      properties:
        albumAudioNormalizationData:
          $ref: '#/components/schemas/AudioNormalizationData'
        format:
          type: string
          description: File's audio format
          enum:
          - HEAACV1
          - AACLC
          - FLAC
          - FLAC_HIRES
          - EAC3_JOC
        trackAudioNormalizationData:
          $ref: '#/components/schemas/AudioNormalizationData'
        trackPresentation:
          type: string
          description: Track presentation
          enum:
          - FULL
          - PREVIEW
        url:
          type: string
          description: File URL
    SavedShares_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SavedShares_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ArtistRoles_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ArtistRoles_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserDiscoveryMixes_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    SquareConnections_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SquareConnections_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionFolders_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionFolders_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    SquareConnections_Attributes:
      required:
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Timestamp when the connection was created
          format: date-time
        externalLinks:
          type: array
          description: External links for Square connection
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Timestamp when the connection was last modified
          format: date-time
        status:
          minLength: 1
          type: string
          description: Current status of this Square connection
          enum:
          - DRAFT
          - PENDING_REQUIREMENTS
          - KYC_PENDING
          - ACCEPTED
          - REJECTED
          - SUSPENDED
    UserCollectionTracks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionTracks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionTracks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ReactionsCreateOperation_Payload_Data_Relationships_Subject_Data:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - albums
          - tracks
          - artists
          - videos
          - playlists
          - comments
    UserCollections_Artists_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Artists_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionArtists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionArtists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionArtists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Appreciations_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          description: Time when the appreciation was created
          format: date-time
          example: '2025-09-09T13:07:35.734Z'
    UserCollectionFolders_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollectionFolders_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionAlbums_Attributes:
      required:
      - numberOfItems
      type: object
      properties:
        lastModifiedAt:
          type: string
          description: When the collection was last modified
          format: date-time
        numberOfItems:
          type: integer
          description: Number of items in the collection
          format: int32
    SearchSuggestions_Relationships:
      properties:
        directHits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        history:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    SharesCreateOperation_Payload:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SharesCreateOperation_Payload_Data'
    DynamicModules_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    CommentsCreateOperation_Payload_Data_Attributes:
      required:
      - message
      type: object
      properties:
        endTime:
          type: string
        message:
          maxLength: 2000
          minLength: 1
          type: string
        startTime:
          type: string
    TrackStatistics_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Playlists_Attributes:
      required:
      - accessType
      - bounded
      - createdAt
      - externalLinks
      - lastModifiedAt
      - name
      - numberOfFollowers
      - playlistType
      type: object
      properties:
        accessType:
          type: string
          description: Access type
          example: PUBLIC
          enum:
          - PUBLIC
          - UNLISTED
        bounded:
          type: boolean
          description: Indicates if the playlist has a duration and set number of tracks
        createdAt:
          type: string
          description: Datetime of playlist creation (ISO 8601)
          format: date-time
        description:
          type: string
          description: Playlist description
        duration:
          type: string
          description: Duration of playlist (ISO 8601)
          example: P30M5S
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Datetime of last modification of the playlist (ISO 8601)
          format: date-time
        name:
          minLength: 1
          type: string
          description: Playlist name
        numberOfFollowers:
          type: integer
          description: The amount of followers of the playlist
          format: int32
        numberOfItems:
          type: integer
          description: Number of items in the playlist
          format: int32
        playlistType:
          type: string
          description: The type of the playlist
          enum:
          - EDITORIAL
          - USER
          - MIX
          - ARTIST
    ManualArtistClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ManualArtistClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TracksMetadataStatus_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/TracksMetadataStatus_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ProviderOwners_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        provider:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    UserNewReleaseMixes_Attributes:
      type: object
    UserRecommendations_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserRecommendations_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserRecommendations_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Credits_Relationships:
      properties:
        artist:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        category:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    CurrentUserReaction:
      type: object
      properties:
        createdAt:
          type: string
          description: When the reaction was created
          format: date-time
        emoji:
          type: string
          description: User's emoji reaction
        id:
          type: string
          description: Reaction ID
      description: Current user's reaction
    UserCollectionVideos_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    SavedShares_Single_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SavedShares_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    PlayQueues_Attributes:
      required:
      - createdAt
      - lastModifiedAt
      - repeat
      - shuffled
      type: object
      properties:
        createdAt:
          type: string
          description: ISO 8601 creation timestamp
          format: date-time
        lastModifiedAt:
          type: string
          description: ISO 8601 last modified timestamp
          format: date-time
        repeat:
          type: string
          description: Queue's repeat mode
          enum:
          - NONE
          - ONE
          - BATCH
        shuffled:
          type: boolean
          description: Queue is shuffled or not
    SearchResults_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        playlists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        topHits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Reactions_Multi_Resource_Data_Document_Meta:
      type: object
      properties:
        currentUserReaction:
          $ref: '#/components/schemas/CurrentUserReaction'
        stats:
          $ref: '#/components/schemas/ReactionStats'
      description: Reaction response metadata with stats and current user reaction
    DynamicPages_Relationships:
      properties:
        dynamicModules:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Terms_Attributes:
      required:
      - contentLink
      - countryCode
      - effectiveAt
      - termsType
      type: object
      properties:
        contentLink:
          $ref: '#/components/schemas/Link_Object'
        countryCode:
          type: string
        effectiveAt:
          type: string
          format: date-time
        termsType:
          type: string
          enum:
          - DEVELOPER
          - UPLOAD_MARKETPLACE
    UserCollectionPlaylists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionPlaylists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionPlaylists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Links:
      required:
      - self
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Links_Meta'
        next:
          type: string
          description: Link to next page
          example: /artists/xyz/relationships/tracks?page[cursor]=zyx
        self:
          type: string
          description: Link to self
          example: /artists/xyz/relationships/tracks
    UserCollectionVideos_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionVideos_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    TrackInfo:
      required:
      - trackId
      type: object
      properties:
        broken:
          type: boolean
        brokenCode:
          type: integer
          format: int32
        trackId:
          type: string
    Artwork_File_Meta:
      required:
      - height
      - width
      type: object
      properties:
        height:
          type: integer
          description: Height (in pixels)
          format: int32
          example: 80
        width:
          type: integer
          description: Width (in pixels)
          format: int32
          example: 80
      description: Metadata about an artwork file
    ReactionsCreateOperation_Payload_Data_Relationships:
      required:
      - subject
      type: object
      properties:
        subject:
          $ref: '#/components/schemas/ReactionsCreateOperation_Payload_Data_Relationships_Subject'
    UserDiscoveryMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserDiscoveryMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserDiscoveryMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Installations_OfflineInventory_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    SharesCreateOperation_Payload_Data:
      required:
      - relationships
      - type
      type: object
      properties:
        relationships:
          $ref: '#/components/schemas/SharesCreateOperation_Payload_Data_Relationships'
        type:
          type: string
          enum:
          - shares
    UserCollections_Artists_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollections_Artists_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    ArtistClaims_Relationships:
      properties:
        acceptedArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        recommendedArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Purchases_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Purchases_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Purchases_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    PlayQueues_Future_Resource_Identifier_Meta:
      required:
      - batchId
      - itemId
      type: object
      properties:
        batchId:
          type: string
          format: uuid
        itemId:
          minLength: 1
          type: string
        legacySource:
          $ref: '#/components/schemas/LegacySource'
    Artworks_Attributes:
      required:
      - files
      - mediaType
      type: object
      properties:
        files:
          type: array
          description: Artwork files
          items:
            $ref: '#/components/schemas/Artwork_File'
        mediaType:
          minLength: 1
          type: string
          description: Media type of artwork files
          enum:
          - IMAGE
          - VIDEO
        sourceFile:
          $ref: '#/components/schemas/Artwork_SourceFile'
        visualMetadata:
          $ref: '#/components/schemas/Artwork_VisualMetadata'
    UserCollectionAlbums_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionAlbums_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionAlbums_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TemporaryUserTokens_Attributes:
      type: object
    Installations_Relationships:
      properties:
        offlineInventory:
          $ref: '#/components/schemas/Installations_OfflineInventory_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    PriceConfigurations_Attributes:
      required:
      - currency
      - price
      type: object
      properties:
        currency:
          type: string
          description: Currency code (ISO 4217)
          enum:
          - USD
        price:
          type: string
          description: Price amount with max 2 decimal places
          example: '9.99'
    UserCollections_Videos_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    Genres_Attributes:
      required:
      - genreName
      type: object
      properties:
        genreName:
          type: string
          description: Genre name
          example: pop
    UserRecommendations_Attributes:
      type: object
    Artworks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Artworks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Artworks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Followers_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artists_Followers_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollectionPlaylists_Attributes:
      type: object
    DspSharingLinks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/DspSharingLinks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/DspSharingLinks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    AppreciationsCreateOperation_Payload_Data_Relationships_AppreciatedItem:
      required:
      - data
      type: object
      properties:
        data:
          maxItems: 1
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/AppreciationsCreateOperation_Payload_Data_Relationships_AppreciatedItem_Data'
    Videos_Attributes:
      required:
      - duration
      - explicit
      - isrc
      - popularity
      - title
      type: object
      properties:
        availability:
          type: array
          description: 'Available usage for this video. Deprecated: use ''usageRules'' instead. This field will be removed
            in a future version.'
          deprecated: true
          items:
            type: string
            deprecated: true
            enum:
            - STREAM
            - DJ
            - STEM
        copyright:
          $ref: '#/components/schemas/Copyright'
        duration:
          type: string
          description: Duration (ISO 8601)
          example: PT2M58S
        explicit:
          type: boolean
          description: Explicit content
          example: false
        externalLinks:
          type: array
          description: Video links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        isrc:
          type: string
          description: International Standard Recording Code (ISRC)
          example: TIDAL2274
        popularity:
          type: number
          description: Popularity (0.0 - 1.0)
          format: double
          example: 0.56
        releaseDate:
          type: string
          description: Release date (ISO-8601)
          format: date
          example: '2017-06-27'
        title:
          type: string
          description: Video title
          example: Kill Jay Z
        version:
          type: string
          description: Video version, complements title
          example: original, mix etc
    TracksMetadataStatus_Attributes:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          description: Status of the metadata detection job
          enum:
          - PENDING
          - PROCESSING
          - ERROR
          - OK
    Artists_TrackProviders_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artists_TrackProviders_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    SearchSuggestions_Suggestions:
      required:
      - query
      type: object
      properties:
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/SearchSuggestions_Highlights'
        query:
          minLength: 1
          type: string
      description: Suggested search queries
    UserCollectionAlbums_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionAlbums_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionPlaylists_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    UserCollectionTracks_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionTracks_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionArtists_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    Downloads_Attributes:
      type: object
      properties:
        downloadLinks:
          type: array
          items:
            $ref: '#/components/schemas/Download_Link'
    UsageRules_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UsageRules_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Albums_Attributes:
      required:
      - albumType
      - barcodeId
      - duration
      - explicit
      - mediaTags
      - numberOfItems
      - numberOfVolumes
      - popularity
      - title
      type: object
      properties:
        accessType:
          type: string
          description: Access type
          example: PRIVATE
          enum:
          - PUBLIC
          - UNLISTED
          - PRIVATE
        albumType:
          type: string
          description: Album type
          enum:
          - ALBUM
          - EP
          - SINGLE
        availability:
          type: array
          description: 'Available usage for this album. Deprecated: use ''usageRules'' instead. This field will be removed
            in a future version.'
          deprecated: true
          items:
            type: string
            deprecated: true
            enum:
            - STREAM
            - DJ
            - STEM
        barcodeId:
          type: string
        copyright:
          $ref: '#/components/schemas/Copyright'
        createdAt:
          type: string
          description: Datetime of album creation (ISO 8601)
          format: date-time
        duration:
          type: string
          description: Duration (ISO 8601)
          example: PT46M17S
        explicit:
          type: boolean
          description: Explicit content
          example: true
        externalLinks:
          type: array
          description: Album links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        mediaTags:
          type: array
          items:
            type: string
            description: Media metadata tags
            example: HIRES_LOSSLESS, LOSSLESS
        numberOfItems:
          type: integer
          description: Number of items in album
          format: int32
          example: 13
        numberOfVolumes:
          type: integer
          description: Number of volumes
          format: int32
          example: 1
        popularity:
          type: number
          description: Popularity (0.0 - 1.0)
          format: double
          example: 0.56
        releaseDate:
          type: string
          description: Release date (ISO-8601)
          format: date
          example: '2017-06-30'
        title:
          type: string
          description: Album title
          example: '4:44'
        type:
          type: string
          description: 'Album type. Deprecated: use ''albumType'' instead. This field will be removed in a future version.'
          deprecated: true
          enum:
          - ALBUM
          - EP
          - SINGLE
        version:
          type: string
          description: Album version
          example: remix
    Albums_SuggestedCoverArts_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Albums_SuggestedCoverArts_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Albums_SuggestedCoverArts_Multi_Relationship_Data_Document_Meta'
    ArtistBiographies_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionTracks_Attributes:
      required:
      - numberOfItems
      type: object
      properties:
        lastModifiedAt:
          type: string
          description: When the collection was last modified
          format: date-time
        numberOfItems:
          type: integer
          description: Number of items in the collection
          format: int32
    PlayQueues_Past_Resource_Identifier_Meta:
      required:
      - batchId
      - itemId
      type: object
      properties:
        batchId:
          type: string
          format: uuid
        itemId:
          minLength: 1
          type: string
        legacySource:
          $ref: '#/components/schemas/LegacySource'
    Tracks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Tracks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Tracks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserOfflineMixes_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    ArtistClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ArtistClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ArtistClaims_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Tracks_Attributes:
      required:
      - duration
      - explicit
      - isrc
      - key
      - keyScale
      - mediaTags
      - popularity
      - title
      type: object
      properties:
        accessType:
          type: string
          description: Access type
          example: PRIVATE
          enum:
          - PUBLIC
          - UNLISTED
          - PRIVATE
        ai:
          type: boolean
          description: Whether the track is AI-generated
          example: false
        availability:
          type: array
          description: 'Available usage for this track. Deprecated: use ''usageRules'' instead. This field will be removed
            in a future version.'
          deprecated: true
          items:
            type: string
            deprecated: true
            enum:
            - STREAM
            - DJ
            - STEM
        bpm:
          type: number
          description: Beats per minute
          format: float
          example: 60.0
        copyright:
          $ref: '#/components/schemas/Copyright'
        createdAt:
          type: string
          description: Datetime of track creation (ISO 8601)
          format: date-time
        duration:
          type: string
          description: Duration (ISO 8601)
          example: PT2M58S
        explicit:
          type: boolean
          description: Explicit content
          example: false
        externalLinks:
          type: array
          description: Track links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        isrc:
          type: string
          description: International Standard Recording Code (ISRC)
          example: QMJMT1701229
        key:
          type: string
          description: Key
          enum:
          - UNKNOWN
          - C
          - CSharp
          - D
          - Eb
          - E
          - F
          - FSharp
          - G
          - Ab
          - A
          - Bb
          - B
        keyScale:
          type: string
          description: The scale of the key
          enum:
          - UNKNOWN
          - MAJOR
          - MINOR
          - AEOLIAN
          - BLUES
          - DORIAN
          - HARMONIC_MINOR
          - LOCRIAN
          - LYDIAN
          - MIXOLYDIAN
          - PENTATONIC_MAJOR
          - PHRYGIAN
          - MELODIC_MINOR
          - PENTATONIC_MINOR
        mediaTags:
          type: array
          items:
            type: string
            description: Media metadata tags
            example: HIRES_LOSSLESS
        popularity:
          type: number
          description: Popularity (0.0 - 1.0)
          format: double
          example: 0.56
        spotlighted:
          type: boolean
          description: Is the track spotlighted?
          example: true
        title:
          type: string
          description: Track title
          example: Kill Jay Z
        toneTags:
          type: array
          items:
            type: string
            description: Tone tags
            example: Happy
        version:
          type: string
          description: Track version, complements title
          example: original, mix etc
    Albums_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Albums_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    ManualArtistClaims_Attributes:
      required:
      - artistId
      - legalFirstName
      - legalLastName
      - websiteOrSocialLink
      type: object
      properties:
        acceptedTerms:
          type: boolean
          description: Accepted terms and conditions
        artistId:
          type: string
          description: Artist ID being claimed
        createdAt:
          type: string
          description: Timestamp when the claim was created
          format: date-time
        distributorName:
          type: string
          description: Distributor name
        enrollmentType:
          type: string
          description: Enrollment type
        errorReason:
          type: string
          description: Error reason if claim failed
        labelContactEmail:
          type: string
          description: Label contact email
        labelContactName:
          type: string
          description: Label contact name
        labelName:
          type: string
          description: Label name
        lastModifiedAt:
          type: string
          description: Timestamp when the claim was last modified
          format: date-time
        legalFirstName:
          minLength: 1
          type: string
          description: Legal first name
        legalLastName:
          minLength: 1
          type: string
          description: Legal last name
        managerEmail:
          type: string
          description: Manager email
        managerName:
          type: string
          description: Manager name
        role:
          type: string
          description: Role
        selectedAlbums:
          type: array
          description: Album IDs selected by user
          items:
            type: string
            description: Album IDs selected by user
        selectedSingles:
          type: array
          description: Single IDs selected by user
          items:
            type: string
            description: Single IDs selected by user
        socialLink:
          $ref: '#/components/schemas/Link_Object'
        status:
          type: string
          description: Claim status
          enum:
          - SUBMITTED
          - PENDING
          - APPROVED
          - REJECTED
        upcs:
          type: array
          description: UPCs associated with the claim
          items:
            type: string
            description: UPCs associated with the claim
        websiteOrSocialLink:
          $ref: '#/components/schemas/Link_Object'
    ProviderProductInfos_Attributes:
      required:
      - barcodeId
      type: object
      properties:
        barcodeId:
          type: string
        broken:
          type: boolean
        brokenCode:
          type: integer
          format: int32
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/TrackInfo'
[...]
