openapi: 3.0.1
info:
  title: TIDAL Playback API
  version: 1.10.14
  description: 'Playback prerequisites: play queues, encrypted track manifests, video manifests, offline tasks, downloads,
    and usage rules. Audio bytes flow only through the TIDAL Player SDK.'
  x-source: https://tidal-music.github.io/tidal-api-reference/tidal-api-oas.json
servers:
- url: https://openapi.tidal.com/v2
  description: Production
paths:
  /downloads:
    get:
      description: Retrieves multiple downloads by available filters, or without if applicable.
      parameters:
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Download id (e.g. `VFJBQ0tTOjEyMzQ1`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Downloads_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple downloads.
      tags:
      - downloads
      x-path-item-properties:
        required-access-tier: INTERNAL
  /downloads/{id}:
    get:
      description: Retrieves single download by id.
      parameters:
      - description: Download id
        example: VFJBQ0tTOjEyMzQ1
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Downloads_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get single download.
      tags:
      - downloads
      x-path-item-properties:
        required-access-tier: INTERNAL
  /downloads/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Download id
        example: VFJBQ0tTOjEyMzQ1
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Downloads_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - downloads
      x-path-item-properties:
        required-access-tier: INTERNAL
  /offlineTasks:
    get:
      description: Retrieves multiple offlineTasks by available filters, or without if applicable.
      parameters:
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: collection,
          item, owners'
        example: collection
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: collection
      - description: List of offline task IDs (e.g. `a468bee8-8def-4a1b-8c1e-123456789abc`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      - description: List of offline task IDs (e.g. `a468bee88def`)
        in: query
        name: filter[installation.id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/OfflineTasks_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple offlineTasks.
      tags:
      - offlineTasks
      x-path-item-properties:
        required-access-tier: INTERNAL
  /offlineTasks/{id}:
    get:
      description: Retrieves single offlineTask by id.
      parameters:
      - description: Offline task id
        example: a468bee8-8def-4a1b-8c1e-123456789abc
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: collection,
          item, owners'
        example: collection
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: collection
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/OfflineTasks_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get single offlineTask.
      tags:
      - offlineTasks
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates existing offlineTask.
      parameters:
      - description: Offline task id
        example: a468bee8-8def-4a1b-8c1e-123456789abc
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/OfflineTasksUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update single offlineTask.
      tags:
      - offlineTasks
      x-path-item-properties:
        required-access-tier: INTERNAL
  /offlineTasks/{id}/relationships/collection:
    get:
      description: Retrieves collection relationship.
      parameters:
      - description: Offline task id
        example: a468bee8-8def-4a1b-8c1e-123456789abc
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: collection'
        example: collection
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: collection
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/OfflineTasks_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get collection relationship ("to-one").
      tags:
      - offlineTasks
      x-path-item-properties:
        required-access-tier: INTERNAL
  /offlineTasks/{id}/relationships/item:
    get:
      description: Retrieves item relationship.
      parameters:
      - description: Offline task id
        example: a468bee8-8def-4a1b-8c1e-123456789abc
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: item'
        example: item
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: item
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/OfflineTasks_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get item relationship ("to-one").
      tags:
      - offlineTasks
      x-path-item-properties:
        required-access-tier: INTERNAL
  /offlineTasks/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Offline task id
        example: a468bee8-8def-4a1b-8c1e-123456789abc
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/OfflineTasks_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - offlineTasks
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues:
    get:
      description: Retrieves multiple playQueues by available filters, or without if applicable.
      parameters:
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: current,
          future, owners, past'
        example: current
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: current
      - description: User id. Use `me` for the authenticated user
        in: query
        name: filter[owners.id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple playQueues.
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Creates a new playQueue.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single playQueue.
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues/{id}:
    delete:
      description: Deletes existing playQueue.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete single playQueue.
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves single playQueue by id.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: current,
          future, owners, past'
        example: current
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: current
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get single playQueue.
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates existing playQueue.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update single playQueue.
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues/{id}/relationships/current:
    get:
      description: Retrieves current relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: current'
        example: current
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: current
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Current_Single_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get current relationship ("to-one").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates current relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesCurrentRelationshipUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update current relationship ("to-one").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues/{id}/relationships/future:
    delete:
      description: Deletes item(s) from future relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesFutureRelationshipRemoveOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Delete from future relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    get:
      description: Retrieves future relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: future'
        example: future
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: future
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Future_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get future relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    patch:
      description: Updates future relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesFutureRelationshipUpdateOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Update future relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: Adds item(s) to future relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PlayQueuesFutureRelationshipAddOperation_Payload'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Add to future relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /playQueues/{id}/relationships/past:
    get:
      description: Retrieves past relationship.
      parameters:
      - description: Play queue id
        example: 550e8400-e29b-41d4-a716-446655440000
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: past'
        example: past
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: past
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PlayQueues_Past_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get past relationship ("to-many").
      tags:
      - playQueues
      x-path-item-properties:
        required-access-tier: INTERNAL
  /trackFiles/{id}:
    get:
      description: Retrieves single trackFile by id.
      parameters:
      - description: Track file id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: formats
        required: true
        schema:
          type: array
          items:
            type: string
            enum:
            - HEAACV1
            - AACLC
            - FLAC
            - FLAC_HIRES
            - EAC3_JOC
      - in: query
        name: usage
        required: true
        schema:
          type: string
          enum:
          - PLAYBACK
          - DOWNLOAD
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TrackFiles_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '403':
          $ref: '#/components/responses/TrackFilesReadById403Response'
        '404':
          $ref: '#/components/responses/TrackFilesReadById404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - playback
        - r_usr
      summary: Get single trackFile.
      tags:
      - trackFiles
      x-path-item-properties:
        required-access-tier: PARTNER
  /trackManifests/{id}:
    get:
      description: Retrieves single trackManifest by id.
      parameters:
      - description: Track manifest id
        example: '123456'
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: manifestType
        required: true
        schema:
          type: string
          enum:
          - HLS
          - MPEG_DASH
      - in: query
        name: formats
        required: true
        schema:
          type: array
          items:
            type: string
            enum:
            - HEAACV1
            - AACLC
            - FLAC
            - FLAC_HIRES
            - EAC3_JOC
      - in: query
        name: uriScheme
        required: true
        schema:
          type: string
          enum:
          - HTTPS
          - DATA
      - in: query
        name: usage
        required: true
        schema:
          type: string
          enum:
          - PLAYBACK
          - DOWNLOAD
      - in: query
        name: adaptive
        required: true
        schema:
          type: boolean
      - description: Share code that grants access to UNLISTED resources. When provided, allows non-owners to access resources
          that would otherwise be restricted.
        in: query
        name: shareCode
        required: false
        schema:
          type: string
          example: xyz
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TrackManifests_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '403':
          $ref: '#/components/responses/TrackManifestsReadById403Response'
        '404':
          $ref: '#/components/responses/TrackManifestsReadById404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - playback
        - r_usr
      summary: Get single trackManifest.
      tags:
      - trackManifests
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /trackSourceFiles:
    get:
      description: Retrieves multiple trackSourceFiles by available filters, or without if applicable.
      parameters:
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Track source file id (e.g. `a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TrackSourceFiles_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get multiple trackSourceFiles.
      tags:
      - trackSourceFiles
      x-path-item-properties:
        required-access-tier: INTERNAL
    post:
      description: 'Create a track source file. <p/>

        The response contains a upload link that must be used to upload the actual content.<p/>

        The headers in the upload link response must be sent doing the actual upload.

        '
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/TrackSourceFilesCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TrackSourceFiles_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single trackSourceFile.
      tags:
      - trackSourceFiles
      x-path-item-properties:
        required-access-tier: INTERNAL
  /trackSourceFiles/{id}:
    get:
      description: Retrieves single trackSourceFile by id.
      parameters:
      - description: Track source file id
        example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TrackSourceFiles_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get single trackSourceFile.
      tags:
      - trackSourceFiles
      x-path-item-properties:
        required-access-tier: INTERNAL
  /trackSourceFiles/{id}/relationships/owners:
    get:
      description: Retrieves owners relationship.
      parameters:
      - description: Track source file id
        example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: owners'
        example: owners
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: owners
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TrackSourceFiles_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
      summary: Get owners relationship ("to-many").
      tags:
      - trackSourceFiles
      x-path-item-properties:
        required-access-tier: INTERNAL
  /usageRules:
    get:
      description: Retrieves multiple usageRules by available filters, or without if applicable.
      parameters:
      - description: List of usage rules IDs (e.g. `VFJBQ0tTOjEyMzpOTw`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UsageRules_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get multiple usageRules.
      tags:
      - usageRules
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
    post:
      description: Creates a new usageRule.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UsageRulesCreateOperation_Payload'
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UsageRules_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - w_usr
      summary: Create single usageRule.
      tags:
      - usageRules
      x-path-item-properties:
        required-access-tier: INTERNAL
  /usageRules/{id}:
    get:
      description: Retrieves single usageRule by id.
      parameters:
      - description: Usage rules id
        example: VFJBQ0tTOjEyMzpOTw
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UsageRules_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get single usageRule.
      tags:
      - usageRules
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /videoManifests/{id}:
    get:
      description: Retrieves single videoManifest by id.
      parameters:
      - description: Video manifest id
        example: '75623239'
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: uriScheme
        required: true
        schema:
          type: string
          enum:
          - HTTPS
          - DATA
      - in: query
        name: usage
        required: true
        schema:
          type: string
          enum:
          - PLAYBACK
          - DOWNLOAD
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/VideoManifests_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '403':
          $ref: '#/components/responses/VideoManifestsReadById403Response'
        '404':
          $ref: '#/components/responses/VideoManifestsReadById404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - playback
        - r_usr
      summary: Get single videoManifest.
      tags:
      - videoManifests
      x-path-item-properties:
        required-access-tier: INTERNAL
components:
  schemas:
    PlayQueues_Future_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PlayQueues_Future_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    StripeConnections_Attributes:
      required:
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Timestamp when the connection was created
          format: date-time
        externalLinks:
          type: array
          description: External links for Stripe connection
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Timestamp when the connection was last modified
          format: date-time
        status:
          minLength: 1
          type: string
          description: Current status of this Stripe connection
          enum:
          - PENDING_REQUIREMENTS
          - UNDER_REVIEW
          - ACCEPTED
          - REJECTED
          - SUSPENDED
    VideoManifests_Attributes:
      type: object
      properties:
        drmData:
          $ref: '#/components/schemas/DrmData'
        link:
          $ref: '#/components/schemas/Link_Object'
        previewReason:
          type: string
          description: Why a preview is served instead of the full video
          enum:
          - FULL_REQUIRES_SUBSCRIPTION
          - FULL_REQUIRES_PURCHASE
          - FULL_REQUIRES_HIGHER_ACCESS_TIER
        videoPresentation:
          type: string
          description: Video presentation
          enum:
          - FULL
          - PREVIEW
    UserOfflineMixes_Attributes:
      type: object
    Users_Attributes:
      required:
      - country
      - username
      type: object
      properties:
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: US
        email:
          type: string
          description: email address
          example: test@test.com
        emailVerified:
          type: boolean
          description: Is the email verified
          example: true
        firstName:
          type: string
          description: Users first name
          example: John
        lastName:
          type: string
          description: Users last name
          example: Rambo
        nostrPublicKey:
          type: string
          description: Users nostr public key
          example: e3fc3965800f9c729b483a2a7291f30e569fbf5ab91a6eef332f9e28a5e923dd
        username:
          type: string
          description: user name
          example: username
    UserCollections_Playlists_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    DrmData:
      type: object
      properties:
        certificateUrl:
          type: string
        drmSystem:
          type: string
          enum:
          - FAIRPLAY
          - WIDEVINE
        initData:
          type: array
          items:
            type: string
        licenseUrl:
          type: string
      description: DRM data. Absence implies no DRM.
    UserCollections_Attributes:
      type: object
    UserCollections_Playlists_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollections_Playlists_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Shares_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        sharedResources:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UsageRulesCreateOperation_Payload_Data_Relationships_Subject:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UsageRulesCreateOperation_Payload_Subject'
    Videos_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        credits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        providers:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        replacement:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        similarVideos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        suggestedVideos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        thumbnailArt:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        usageRules:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    ProviderProductInfos_Relationships:
      properties:
        provider:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Installations_OfflineInventory_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Installations_OfflineInventory_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserDataExportRequests_Attributes:
      required:
      - flowType
      type: object
      properties:
        flowType:
          type: string
          description: The type of data export flow
          enum:
          - GDPR
          - CCPA
          - COPPA
          - ANZ_PA
          - US_PRIVACY_REGULATION
          - APPI
          - RETENTION_POLICY
    Purchases_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Clients_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Clients_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Clients_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource_Identifier'
        links:
          $ref: '#/components/schemas/Links'
    TrackSourceFilesCreateOperation_Payload_Data_Attributes:
      required:
      - md5Hash
      - size
      type: object
      properties:
        md5Hash:
          type: string
        size:
          type: integer
          format: int64
    Artists_Following_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Artists_Following_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    PlayQueues_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    TrackSourceFilesCreateOperation_Payload_Data_Relationships:
      required:
      - track
      type: object
      properties:
        track:
          $ref: '#/components/schemas/TrackSourceFilesCreateOperation_Payload_Data_Relationships_Track'
    UserCollectionPlaylists_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionPlaylists_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserOfflineMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserOfflineMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserOfflineMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Albums_Items_Resource_Identifier_Meta:
      required:
      - trackNumber
      - volumeNumber
      type: object
      properties:
        trackNumber:
          type: integer
          description: track number
          format: int32
          example: 4
        volumeNumber:
          type: integer
          description: volume number
          format: int32
          example: 1
    UserCollections_Playlists_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Playlists_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    File_Status:
      required:
      - moderationFileStatus
      - technicalFileStatus
      type: object
      properties:
        moderationFileStatus:
          type: string
          description: Moderation status for file
          enum:
          - NOT_MODERATED
          - SCANNING
          - FLAGGED
          - TAKEN_DOWN
          - OK
          - ERROR
        technicalFileStatus:
          type: string
          description: Technical status for file
          enum:
          - UPLOAD_REQUESTED
          - PROCESSING
          - OK
          - ERROR
          - DELETED
      description: File status
    StripeDashboardLinks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/StripeDashboardLinks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/StripeDashboardLinks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollections_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/UserCollections_Albums_Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/UserCollections_Artists_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        playlists:
          $ref: '#/components/schemas/UserCollections_Playlists_Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/UserCollections_Tracks_Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/UserCollections_Videos_Multi_Relationship_Data_Document'
    UserNewReleaseMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserNewReleaseMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserNewReleaseMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    DspSharingLinks_Relationships:
      properties:
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Purchases_Attributes:
      required:
      - createdAt
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime of purchase (ISO 8601)
          format: date-time
        status:
          type: string
          description: Current status of the purchase
          enum:
          - ACTIVE
    Providers_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Providers_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    AcceptedTerms_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
    SavedShares_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime of saved share creation (ISO 8601)
          format: date-time
    Credits_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Credits_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Credits_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Following_Resource_Identifier_Meta:
      type: object
      properties:
        viewer:
          $ref: '#/components/schemas/Artists_Followers_Resource_Meta_ViewerContext'
    Credits_Attributes:
      required:
      - name
      - role
      type: object
      properties:
        name:
          type: string
          description: Credit name
          example: John Lennon
        role:
          type: string
          description: Credit role
          example: Vocals
    StripeDashboardLinks_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    DynamicPages_Attributes:
      required:
      - pageType
      - reportingId
      type: object
      properties:
        pageType:
          type: string
          description: Type of the page eg. home, artist
          example: HOME_STATIC
          enum:
          - HOME_STATIC
          - HOME_UPLOADS
          - HOME_EDITORIAL
          - HOME_FREE
          - ARTIST
        reportingId:
          type: string
          description: Id used for reporting user events
          format: uuid
          example: 83c92ac0-b8e3-4e28-9e27-07909dcde1e5
    ContentClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ContentClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ContentClaims_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Following_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artists_Following_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollectionAlbums_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionAlbums_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    ArtistRoles_Attributes:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Name of the artist role
    SearchSuggestions_Highlights:
      required:
      - length
      - start
      type: object
      properties:
        length:
          type: integer
          format: int32
        start:
          type: integer
          format: int32
    PlayQueues_Past_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/PlayQueues_Past_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Artists_TrackProviders_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Artists_TrackProviders_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Lyrics_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Lyrics_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Lyrics_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Copyright:
      required:
      - text
      type: object
      properties:
        text:
          maxLength: 1024
          minLength: 1
          type: string
      description: Copyright information
    Download_Link_Meta:
      type: object
      properties:
        requiredHeaders:
          type: array
          description: HTTP headers required when requesting the download URL
          items:
            type: string
            description: HTTP headers required when requesting the download URL
      description: Metadata for download link
    Playlists_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Playlists_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    TrackSourceFilesCreateOperation_Payload_Data_Relationships_Track_Data:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - tracks
    OfflineTasks_Single_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollections_Artists_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    TrackFiles_Attributes:
      type: object
      properties:
        albumAudioNormalizationData:
          $ref: '#/components/schemas/AudioNormalizationData'
        format:
          type: string
          description: File's audio format
          enum:
          - HEAACV1
          - AACLC
          - FLAC
          - FLAC_HIRES
          - EAC3_JOC
        trackAudioNormalizationData:
          $ref: '#/components/schemas/AudioNormalizationData'
        trackPresentation:
          type: string
          description: Track presentation
          enum:
          - FULL
          - PREVIEW
        url:
          type: string
          description: File URL
    SavedShares_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SavedShares_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ArtistRoles_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ArtistRoles_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    PlayQueues_Multi_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PlayQueues_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserDiscoveryMixes_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    SquareConnections_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SquareConnections_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionFolders_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionFolders_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Downloads_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    SquareConnections_Attributes:
      required:
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Timestamp when the connection was created
          format: date-time
        externalLinks:
          type: array
          description: External links for Square connection
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Timestamp when the connection was last modified
          format: date-time
        status:
          minLength: 1
          type: string
          description: Current status of this Square connection
          enum:
          - DRAFT
          - PENDING_REQUIREMENTS
          - KYC_PENDING
          - ACCEPTED
          - REJECTED
          - SUSPENDED
    UserCollectionTracks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionTracks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionTracks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollections_Artists_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Artists_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionArtists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionArtists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionArtists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Appreciations_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          description: Time when the appreciation was created
          format: date-time
          example: '2025-09-09T13:07:35.734Z'
    UserCollectionFolders_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollectionFolders_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionAlbums_Attributes:
      required:
      - numberOfItems
      type: object
      properties:
        lastModifiedAt:
          type: string
          description: When the collection was last modified
          format: date-time
        numberOfItems:
          type: integer
          description: Number of items in the collection
          format: int32
    SearchSuggestions_Relationships:
      properties:
        directHits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        history:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    DynamicModules_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    TrackStatistics_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Playlists_Attributes:
      required:
      - accessType
      - bounded
      - createdAt
      - externalLinks
      - lastModifiedAt
      - name
      - numberOfFollowers
      - playlistType
      type: object
      properties:
        accessType:
          type: string
          description: Access type
          example: PUBLIC
          enum:
          - PUBLIC
          - UNLISTED
        bounded:
          type: boolean
          description: Indicates if the playlist has a duration and set number of tracks
        createdAt:
          type: string
          description: Datetime of playlist creation (ISO 8601)
          format: date-time
        description:
          type: string
          description: Playlist description
        duration:
          type: string
          description: Duration of playlist (ISO 8601)
          example: P30M5S
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Datetime of last modification of the playlist (ISO 8601)
          format: date-time
        name:
          minLength: 1
          type: string
          description: Playlist name
        numberOfFollowers:
          type: integer
          description: The amount of followers of the playlist
          format: int32
        numberOfItems:
          type: integer
          description: Number of items in the playlist
          format: int32
        playlistType:
          type: string
          description: The type of the playlist
          enum:
          - EDITORIAL
          - USER
          - MIX
          - ARTIST
    ManualArtistClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ManualArtistClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TracksMetadataStatus_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/TracksMetadataStatus_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ProviderOwners_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        provider:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    UserNewReleaseMixes_Attributes:
      type: object
    UserRecommendations_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserRecommendations_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserRecommendations_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Credits_Relationships:
      properties:
        artist:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        category:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    UserCollectionVideos_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    OfflineTasks_Single_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OfflineTasks_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    PlayQueuesCurrentRelationshipUpdateOperation_Payload_Data:
      required:
      - id
      - meta
      - type
      type: object
      properties:
        id:
          type: string
        meta:
          $ref: '#/components/schemas/PlayQueuesCurrentRelationshipUpdateOperation_Payload_Data_Meta'
        type:
          type: string
          enum:
          - tracks
          - videos
    PlayQueues_Attributes:
      required:
      - createdAt
      - lastModifiedAt
      - repeat
      - shuffled
      type: object
      properties:
        createdAt:
          type: string
          description: ISO 8601 creation timestamp
          format: date-time
        lastModifiedAt:
          type: string
          description: ISO 8601 last modified timestamp
          format: date-time
        repeat:
          type: string
          description: Queue's repeat mode
          enum:
          - NONE
          - ONE
          - BATCH
        shuffled:
          type: boolean
          description: Queue is shuffled or not
    SearchResults_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        playlists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        topHits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    DynamicPages_Relationships:
      properties:
        dynamicModules:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Terms_Attributes:
      required:
      - contentLink
      - countryCode
      - effectiveAt
      - termsType
      type: object
      properties:
        contentLink:
          $ref: '#/components/schemas/Link_Object'
        countryCode:
          type: string
        effectiveAt:
          type: string
          format: date-time
        termsType:
          type: string
          enum:
          - DEVELOPER
          - UPLOAD_MARKETPLACE
    UserCollectionPlaylists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionPlaylists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionPlaylists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Links:
      required:
      - self
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Links_Meta'
        next:
          type: string
          description: Link to next page
          example: /artists/xyz/relationships/tracks?page[cursor]=zyx
        self:
          type: string
          description: Link to self
          example: /artists/xyz/relationships/tracks
    UserCollectionVideos_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionVideos_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    PlayQueuesFutureRelationshipRemoveOperation_Payload:
      required:
      - data
      type: object
      properties:
        data:
          maxItems: 20
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/PlayQueuesFutureRelationshipRemoveOperation_Payload_Data'
    TrackInfo:
      required:
      - trackId
      type: object
      properties:
        broken:
          type: boolean
        brokenCode:
          type: integer
          format: int32
        trackId:
          type: string
    Artwork_File_Meta:
      required:
      - height
      - width
      type: object
      properties:
        height:
          type: integer
          description: Height (in pixels)
          format: int32
          example: 80
        width:
          type: integer
          description: Width (in pixels)
          format: int32
          example: 80
      description: Metadata about an artwork file
    UserDiscoveryMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserDiscoveryMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserDiscoveryMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Installations_OfflineInventory_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    UserCollections_Artists_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollections_Artists_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    ArtistClaims_Relationships:
      properties:
        acceptedArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        recommendedArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Purchases_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Purchases_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Purchases_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    PlayQueues_Future_Resource_Identifier_Meta:
      required:
      - batchId
      - itemId
      type: object
      properties:
        batchId:
          type: string
          format: uuid
        itemId:
          minLength: 1
          type: string
        legacySource:
          $ref: '#/components/schemas/LegacySource'
    Artworks_Attributes:
      required:
      - files
      - mediaType
      type: object
      properties:
        files:
          type: array
          description: Artwork files
          items:
            $ref: '#/components/schemas/Artwork_File'
        mediaType:
          minLength: 1
          type: string
          description: Media type of artwork files
          enum:
          - IMAGE
          - VIDEO
        sourceFile:
          $ref: '#/components/schemas/Artwork_SourceFile'
        visualMetadata:
          $ref: '#/components/schemas/Artwork_VisualMetadata'
    UserCollectionAlbums_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionAlbums_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionAlbums_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TemporaryUserTokens_Attributes:
      type: object
    Installations_Relationships:
      properties:
        offlineInventory:
          $ref: '#/components/schemas/Installations_OfflineInventory_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    PriceConfigurations_Attributes:
      required:
      - currency
      - price
      type: object
      properties:
        currency:
          type: string
          description: Currency code (ISO 4217)
          enum:
          - USD
        price:
          type: string
          description: Price amount with max 2 decimal places
          example: '9.99'
    PlayQueuesCreateOperation_Payload_Data:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - playQueues
    TrackManifests_Single_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TrackManifests_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollections_Videos_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    UsageRules_Multi_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UsageRules_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Genres_Attributes:
      required:
      - genreName
      type: object
      properties:
        genreName:
          type: string
          description: Genre name
          example: pop
    UserRecommendations_Attributes:
      type: object
    Artworks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Artworks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Artworks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Followers_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artists_Followers_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollectionPlaylists_Attributes:
      type: object
    PlayQueuesFutureRelationshipAddOperation_Payload_Data:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - tracks
          - videos
          - albums
          - playlists
    DspSharingLinks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/DspSharingLinks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/DspSharingLinks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Videos_Attributes:
      required:
      - duration
      - explicit
      - isrc
      - popularity
      - title
      type: object
      properties:
        availability:
          type: array
          description: 'Available usage for this video. Deprecated: use ''usageRules'' instead. This field will be removed
            in a future version.'
          deprecated: true
          items:
            type: string
            deprecated: true
            enum:
            - STREAM
            - DJ
            - STEM
        copyright:
          $ref: '#/components/schemas/Copyright'
        duration:
          type: string
          description: Duration (ISO 8601)
          example: PT2M58S
        explicit:
          type: boolean
          description: Explicit content
          example: false
        externalLinks:
          type: array
          description: Video links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        isrc:
          type: string
          description: International Standard Recording Code (ISRC)
          example: TIDAL2274
        popularity:
          type: number
          description: Popularity (0.0 - 1.0)
          format: double
          example: 0.56
        releaseDate:
          type: string
[...]
