openapi: 3.0.1
info:
  title: TIDAL Search API
  version: 1.10.14
  description: Search the TIDAL catalog with personalized search results, suggestions, and per-user search history.
  x-source: https://tidal-music.github.io/tidal-api-reference/tidal-api-oas.json
servers:
- url: https://openapi.tidal.com/v2
  description: Production
paths:
  /searchHistoryEntries:
    get:
      description: Retrieves multiple searchHistoryEntries by available filters, or without if applicable.
      parameters:
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: Opaque identifier for a search history entry (e.g. `MjcyNjg5OTAjamF5`)
        in: query
        name: filter[id]
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchHistoryEntries_Multi_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - r_usr
        - search.read
      summary: Get multiple searchHistoryEntries.
      tags:
      - searchHistoryEntries
      x-path-item-properties:
        required-access-tier: INTERNAL
  /searchHistoryEntries/{id}:
    delete:
      description: Deletes existing searchHistoryEntrie.
      parameters:
      - description: Opaque identifier for a search history entry
        example: MjcyNjg5OTAjamF5
        in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '409':
          $ref: '#/components/responses/Idempotency409Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '422':
          $ref: '#/components/responses/Idempotency422Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE:
        - search.write
        - w_usr
      summary: Delete single searchHistoryEntrie.
      tags:
      - searchHistoryEntries
      x-path-item-properties:
        required-access-tier: INTERNAL
  /searchResults/{id}:
    get:
      description: Retrieves single searchResult by id.
      parameters:
      - description: Search query string used as the resource identifier
        example: hello
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Explicit filter. Valid values: INCLUDE or EXCLUDE'
        example: INCLUDE
        in: query
        name: explicitFilter
        required: false
        schema:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
          default: INCLUDE
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: albums,
          artists, playlists, topHits, tracks, videos'
        example: albums
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: albums
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchResults_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - r_usr
        - search.read
      summary: Get single searchResult.
      tags:
      - searchResults
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /searchResults/{id}/relationships/albums:
    get:
      description: Retrieves albums relationship.
      parameters:
      - description: Search query string used as the resource identifier
        example: hello
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Explicit filter. Valid values: INCLUDE or EXCLUDE'
        example: INCLUDE
        in: query
        name: explicitFilter
        required: false
        schema:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
          default: INCLUDE
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: albums'
        example: albums
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: albums
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchResults_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - r_usr
        - search.read
      summary: Get albums relationship ("to-many").
      tags:
      - searchResults
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /searchResults/{id}/relationships/artists:
    get:
      description: Retrieves artists relationship.
      parameters:
      - description: Search query string used as the resource identifier
        example: hello
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Explicit filter. Valid values: INCLUDE or EXCLUDE'
        example: INCLUDE
        in: query
        name: explicitFilter
        required: false
        schema:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
          default: INCLUDE
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: artists'
        example: artists
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: artists
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchResults_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - r_usr
        - search.read
      summary: Get artists relationship ("to-many").
      tags:
      - searchResults
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /searchResults/{id}/relationships/playlists:
    get:
      description: Retrieves playlists relationship.
      parameters:
      - description: Search query string used as the resource identifier
        example: hello
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Explicit filter. Valid values: INCLUDE or EXCLUDE'
        example: INCLUDE
        in: query
        name: explicitFilter
        required: false
        schema:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
          default: INCLUDE
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: playlists'
        example: playlists
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: playlists
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchResults_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - r_usr
        - search.read
      summary: Get playlists relationship ("to-many").
      tags:
      - searchResults
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /searchResults/{id}/relationships/topHits:
    get:
      description: Retrieves topHits relationship.
      parameters:
      - description: Search query string used as the resource identifier
        example: hello
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Explicit filter. Valid values: INCLUDE or EXCLUDE'
        example: INCLUDE
        in: query
        name: explicitFilter
        required: false
        schema:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
          default: INCLUDE
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: topHits'
        example: topHits
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: topHits
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchResults_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - r_usr
        - search.read
      summary: Get topHits relationship ("to-many").
      tags:
      - searchResults
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /searchResults/{id}/relationships/tracks:
    get:
      description: Retrieves tracks relationship.
      parameters:
      - description: Search query string used as the resource identifier
        example: hello
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Explicit filter. Valid values: INCLUDE or EXCLUDE'
        example: INCLUDE
        in: query
        name: explicitFilter
        required: false
        schema:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
          default: INCLUDE
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: tracks'
        example: tracks
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: tracks
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchResults_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - r_usr
        - search.read
      summary: Get tracks relationship ("to-many").
      tags:
      - searchResults
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /searchResults/{id}/relationships/videos:
    get:
      description: Retrieves videos relationship.
      parameters:
      - description: Search query string used as the resource identifier
        example: hello
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Explicit filter. Valid values: INCLUDE or EXCLUDE'
        example: INCLUDE
        in: query
        name: explicitFilter
        required: false
        schema:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
          default: INCLUDE
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: videos'
        example: videos
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: videos
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchResults_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE:
        - r_usr
        - search.read
      summary: Get videos relationship ("to-many").
      tags:
      - searchResults
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /searchSuggestions/{id}:
    get:
      description: Retrieves single searchSuggestion by id.
      parameters:
      - description: Search query string used as the resource identifier
        example: hello
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Explicit filter. Valid values: INCLUDE or EXCLUDE'
        example: INCLUDE
        in: query
        name: explicitFilter
        required: false
        schema:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
          default: INCLUDE
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: directHits,
          history'
        example: directHits
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: directHits
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchSuggestions_Single_Resource_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get single searchSuggestion.
      tags:
      - searchSuggestions
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /searchSuggestions/{id}/relationships/directHits:
    get:
      description: Retrieves directHits relationship.
      parameters:
      - description: Search query string used as the resource identifier
        example: hello
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Explicit filter. Valid values: INCLUDE or EXCLUDE'
        example: INCLUDE
        in: query
        name: explicitFilter
        required: false
        schema:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
          default: INCLUDE
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: directHits'
        example: directHits
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: directHits
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchSuggestions_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Client_Credentials: []
      - Authorization_Code_PKCE: []
      summary: Get directHits relationship ("to-many").
      tags:
      - searchSuggestions
      x-path-item-properties:
        required-access-tier: THIRD_PARTY
  /searchSuggestions/{id}/relationships/history:
    get:
      description: Retrieves history relationship.
      parameters:
      - description: Search query string used as the resource identifier
        example: hello
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: 'Explicit filter. Valid values: INCLUDE or EXCLUDE'
        example: INCLUDE
        in: query
        name: explicitFilter
        required: false
        schema:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
          default: INCLUDE
      - description: ISO 3166-1 alpha-2 country code
        example: US
        in: query
        name: countryCode
        required: false
        schema:
          type: string
      - description: 'Allows the client to customize which related resources should be returned. Available options: history'
        example: history
        in: query
        name: include
        required: false
        schema:
          type: array
          items:
            type: string
            example: history
      - description: Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified
        in: query
        name: page[cursor]
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SearchSuggestions_Multi_Relationship_Data_Document'
          description: Successful response
        '400':
          $ref: '#/components/responses/Default400Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '405':
          $ref: '#/components/responses/Default405Response'
        '406':
          $ref: '#/components/responses/Default406Response'
        '415':
          $ref: '#/components/responses/Default415Response'
        '429':
          $ref: '#/components/responses/Default429Response'
        '500':
          $ref: '#/components/responses/Default500Response'
        '503':
          $ref: '#/components/responses/Default503Response'
      security:
      - Authorization_Code_PKCE: []
      summary: Get history relationship ("to-many").
      tags:
      - searchSuggestions
      x-path-item-properties:
        required-access-tier: INTERNAL
components:
  schemas:
    Playlists_Attributes:
      required:
      - accessType
      - bounded
      - createdAt
      - externalLinks
      - lastModifiedAt
      - name
      - numberOfFollowers
      - playlistType
      type: object
      properties:
        accessType:
          type: string
          description: Access type
          example: PUBLIC
          enum:
          - PUBLIC
          - UNLISTED
        bounded:
          type: boolean
          description: Indicates if the playlist has a duration and set number of tracks
        createdAt:
          type: string
          description: Datetime of playlist creation (ISO 8601)
          format: date-time
        description:
          type: string
          description: Playlist description
        duration:
          type: string
          description: Duration of playlist (ISO 8601)
          example: P30M5S
        externalLinks:
          type: array
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Datetime of last modification of the playlist (ISO 8601)
          format: date-time
        name:
          minLength: 1
          type: string
          description: Playlist name
        numberOfFollowers:
          type: integer
          description: The amount of followers of the playlist
          format: int32
        numberOfItems:
          type: integer
          description: Number of items in the playlist
          format: int32
        playlistType:
          type: string
          description: The type of the playlist
          enum:
          - EDITORIAL
          - USER
          - MIX
          - ARTIST
    PlayQueues_Future_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PlayQueues_Future_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    ManualArtistClaims_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ManualArtistClaims_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Playlists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Playlists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Playlists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TracksMetadataStatus_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/TracksMetadataStatus_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    StripeConnections_Attributes:
      required:
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Timestamp when the connection was created
          format: date-time
        externalLinks:
          type: array
          description: External links for Stripe connection
          items:
            $ref: '#/components/schemas/External_Link'
        lastModifiedAt:
          type: string
          description: Timestamp when the connection was last modified
          format: date-time
        status:
          minLength: 1
          type: string
          description: Current status of this Stripe connection
          enum:
          - PENDING_REQUIREMENTS
          - UNDER_REVIEW
          - ACCEPTED
          - REJECTED
          - SUSPENDED
    VideoManifests_Attributes:
      type: object
      properties:
        drmData:
          $ref: '#/components/schemas/DrmData'
        link:
          $ref: '#/components/schemas/Link_Object'
        previewReason:
          type: string
          description: Why a preview is served instead of the full video
          enum:
          - FULL_REQUIRES_SUBSCRIPTION
          - FULL_REQUIRES_PURCHASE
          - FULL_REQUIRES_HIGHER_ACCESS_TIER
        videoPresentation:
          type: string
          description: Video presentation
          enum:
          - FULL
          - PREVIEW
    UserOfflineMixes_Attributes:
      type: object
    Providers_Attributes:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Provider name
          example: Columbia/Legacy
    Genres_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Genres_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    StripeConnections_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/StripeConnections_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/StripeConnections_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Albums_SuggestedCoverArts_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Albums_SuggestedCoverArts_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollections_Tracks_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Tracks_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollections_Tracks_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    Albums_Relationships:
      properties:
        albumStatistics:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        coverArt:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        genres:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        items:
          $ref: '#/components/schemas/Albums_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        priceConfig:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        providers:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        replacement:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        shares:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        similarAlbums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        suggestedCoverArts:
          $ref: '#/components/schemas/Albums_SuggestedCoverArts_Multi_Relationship_Data_Document'
        usageRules:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Comments_Relationships:
      properties:
        ownerProfiles:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        parentComment:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    SearchResults_Attributes:
      required:
      - trackingId
      type: object
      properties:
        didYouMean:
          type: string
          description: '''did you mean'' prompt'
          example: beatles
        trackingId:
          type: string
          description: search request unique tracking number
          example: 5896e37d-e847-4ca6-9629-ef8001719f7f
    ProviderOwners_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        provider:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    TemporaryUserTokens_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Users_Attributes:
      required:
      - country
      - username
      type: object
      properties:
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: US
        email:
          type: string
          description: email address
          example: test@test.com
        emailVerified:
          type: boolean
          description: Is the email verified
          example: true
        firstName:
          type: string
          description: Users first name
          example: John
        lastName:
          type: string
          description: Users last name
          example: Rambo
        nostrPublicKey:
          type: string
          description: Users nostr public key
          example: e3fc3965800f9c729b483a2a7291f30e569fbf5ab91a6eef332f9e28a5e923dd
        username:
          type: string
          description: user name
          example: username
    DrmData:
      type: object
      properties:
        certificateUrl:
          type: string
        drmSystem:
          type: string
          enum:
          - FAIRPLAY
          - WIDEVINE
        initData:
          type: array
          items:
            type: string
        licenseUrl:
          type: string
      description: DRM data. Absence implies no DRM.
    UserCollections_Playlists_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    UserCollectionFolders_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionFolders_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    External_Link_Meta:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - TIDAL_SHARING
          - TIDAL_USER_SHARING
          - TIDAL_AUTOPLAY_ANDROID
          - TIDAL_AUTOPLAY_IOS
          - TIDAL_AUTOPLAY_WEB
          - TWITTER
          - FACEBOOK
          - INSTAGRAM
          - TIKTOK
          - SNAPCHAT
          - OFFICIAL_HOMEPAGE
          - CASHAPP_CONTRIBUTIONS
          - ARTIST_CLAIM_PROVIDER_REDIRECT
          - STRIPE_AUTHORIZATION_REDIRECT
          - SQUARE_AUTHORIZATION_REDIRECT
      description: metadata about an external link
    OfflineTasks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/OfflineTasks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/OfflineTasks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionVideos_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionVideos_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionVideos_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionVideos_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionVideos_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        biography:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        followers:
          $ref: '#/components/schemas/Artists_Followers_Multi_Relationship_Data_Document'
        following:
          $ref: '#/components/schemas/Artists_Following_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        profileArt:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        radio:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        roles:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        similarArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        trackProviders:
          $ref: '#/components/schemas/Artists_TrackProviders_Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserNewReleaseMixes_Attributes:
      type: object
    UserCollections_Attributes:
      type: object
    UserCollectionSaveForLaters_Attributes:
      required:
      - numberOfItems
      type: object
      properties:
        lastModifiedAt:
          type: string
          description: When the collection was last modified
          format: date-time
        numberOfItems:
          type: integer
          description: Number of items in the collection
          format: int32
    UserCollections_Playlists_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollections_Playlists_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollectionTracks_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionTracks_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Artists_Followers_Resource_Meta_ViewerContext:
      type: object
      properties:
        followsMyArtist:
          type: boolean
          description: Boolean to indicate if the artist is following my artist
          default: false
        myArtistFollows:
          type: boolean
          description: Boolean to indicate if my artist is following the artist
          default: false
      description: Optional context about the relationship
    UserCollections_Albums_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    Links_Meta:
      required:
      - nextCursor
      type: object
      properties:
        nextCursor:
          type: string
          description: Only cursor part of next link
          example: zyx
      description: Non-standard meta information for links
    UserRecommendations_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserRecommendations_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserRecommendations_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Shares_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        sharedResources:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionAlbums_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollectionAlbums_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionArtists_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollectionArtists_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Credits_Relationships:
      properties:
        artist:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        category:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    LegacySource:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
        type:
          type: string
    Videos_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        credits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        providers:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        replacement:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        similarVideos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        suggestedVideos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        thumbnailArt:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        usageRules:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    ProviderProductInfos_Relationships:
      properties:
        provider:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Installations_OfflineInventory_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Installations_OfflineInventory_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollectionVideos_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    TidalLyricsProvider:
      type: object
      allOf:
      - $ref: '#/components/schemas/LyricsProvider'
    ThirdPartyLyricsProvider:
      required:
      - commonTrackId
      - lyricsId
      - name
      type: object
      allOf:
      - $ref: '#/components/schemas/LyricsProvider'
      - type: object
        properties:
          commonTrackId:
            type: string
          lyricsId:
            type: string
    SearchResults_Single_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SearchResults_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    PlayQueues_Attributes:
      required:
      - createdAt
      - lastModifiedAt
      - repeat
      - shuffled
      type: object
      properties:
        createdAt:
          type: string
          description: ISO 8601 creation timestamp
          format: date-time
        lastModifiedAt:
          type: string
          description: ISO 8601 last modified timestamp
          format: date-time
        repeat:
          type: string
          description: Queue's repeat mode
          enum:
          - NONE
          - ONE
          - BATCH
        shuffled:
          type: boolean
          description: Queue is shuffled or not
    SearchHistoryEntries_Multi_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SearchHistoryEntries_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Single_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Resource_Identifier'
        links:
          $ref: '#/components/schemas/Links'
    VideoManifests_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/VideoManifests_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    DynamicPages_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/DynamicPages_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/DynamicPages_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    SearchResults_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        playlists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        topHits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserDataExportRequests_Attributes:
      required:
      - flowType
      type: object
      properties:
        flowType:
          type: string
          description: The type of data export flow
          enum:
          - GDPR
          - CCPA
          - COPPA
          - ANZ_PA
          - US_PRIVACY_REGULATION
          - APPI
          - RETENTION_POLICY
    Purchases_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    UserCollectionFolders_Attributes:
      required:
      - collectionType
      - createdAt
      - lastModifiedAt
      - name
      type: object
      properties:
        collectionType:
          type: string
          enum:
          - PLAYLISTS
        createdAt:
          type: string
          format: date-time
        lastModifiedAt:
          type: string
          format: date-time
        name:
          type: string
        numberOfItems:
          type: integer
          format: int32
    Clients_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Clients_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Clients_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TrackStatistics_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/TrackStatistics_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/TrackStatistics_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    AudioNormalizationData:
      type: object
      properties:
        peakAmplitude:
          type: number
          format: float
        replayGain:
          type: number
          format: float
      description: Track normalization data
    UserCollectionSaveForLaters_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    DynamicPages_Relationships:
      properties:
        dynamicModules:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource_Identifier'
        links:
          $ref: '#/components/schemas/Links'
    UserCollectionVideos_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollectionVideos_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    AcceptedTerms_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/AcceptedTerms_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/AcceptedTerms_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Terms_Attributes:
      required:
      - contentLink
      - countryCode
      - effectiveAt
      - termsType
      type: object
      properties:
        contentLink:
          $ref: '#/components/schemas/Link_Object'
        countryCode:
          type: string
        effectiveAt:
          type: string
          format: date-time
        termsType:
          type: string
          enum:
          - DEVELOPER
          - UPLOAD_MARKETPLACE
    UserCollectionPlaylists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionPlaylists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionPlaylists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    ProviderOwners_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ProviderOwners_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ProviderOwners_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Installations_Attributes:
      required:
      - clientProvidedInstallationId
      - name
      type: object
      properties:
        clientProvidedInstallationId:
          type: string
          description: Client provided installation identifier
        name:
          type: string
          description: Human-readable name for the installation
          example: My iPhone
    Appreciations_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Appreciations_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Artists_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Artists_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Clients_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Artists_Following_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Artists_Following_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionPlaylists_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionPlaylists_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserOfflineMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserOfflineMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserOfflineMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Links:
      required:
      - self
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Links_Meta'
        next:
          type: string
          description: Link to next page
          example: /artists/xyz/relationships/tracks?page[cursor]=zyx
        self:
          type: string
          description: Link to self
          example: /artists/xyz/relationships/tracks
    UserCollectionVideos_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionVideos_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    TrackInfo:
      required:
      - trackId
      type: object
      properties:
        broken:
          type: boolean
        brokenCode:
          type: integer
          format: int32
        trackId:
          type: string
    Artwork_File_Meta:
      required:
      - height
      - width
      type: object
      properties:
        height:
          type: integer
          description: Height (in pixels)
          format: int32
          example: 80
        width:
          type: integer
          description: Width (in pixels)
          format: int32
          example: 80
      description: Metadata about an artwork file
    UserDiscoveryMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserDiscoveryMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserDiscoveryMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Reactions_Relationships:
      properties:
        ownerProfiles:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Artwork_VisualMetadata:
      type: object
      properties:
        blurHash:
          type: string
          description: BlurHash representation of the artwork for placeholder display
        selectedPaletteColor:
          type: string
          description: Selected color from the extracted artwork palette
        status:
          type: string
          description: Status of visual metadata extraction
          enum:
          - NONE
          - PROCESSING
          - OK
      description: Color information extracted from artwork
    Installations_OfflineInventory_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    AlbumStatistics_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    ArtistClaims_Attributes:
      required:
      - artistId
      - provider
      - status
      type: object
      properties:
        artistId:
          type: string
          description: The artist id which is being claimed
        externalLinks:
          type: array
          description: Artist claim links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        provider:
          minLength: 1
          type: string
          description: The DSP used for authentication
          enum:
          - DISTROKID
          - CDBABY
          - TUNECORE
        recommendation:
          type: string
          description: The recommended claim resolution
          enum:
          - CLAIM_PROFILE
          - CLAIM_CONTENT
        retrievedUpcs:
          type: array
          description: List of UPCs retrieved from the DSP
          items:
            $ref: '#/components/schemas/LegacyBarcodeId'
        status:
          minLength: 1
          type: string
          description: Current status of this claim
          enum:
          - AWAITING_OAUTH
          - FETCHING_CONTENT
          - VERIFIED
          - NO_MATCHES
          - AUTHENTICATION_FAILED
          - PROCESSING
          - COMPLETED
          - FAILED
          - CANCELLED
          - NAME_MISMATCH
          - CLAIMED_ARTIST_MISMATCH
    Albums_Items_Resource_Identifier_Meta:
      required:
      - trackNumber
      - volumeNumber
      type: object
      properties:
        trackNumber:
          type: integer
          description: track number
          format: int32
          example: 4
        volumeNumber:
          type: integer
          description: volume number
          format: int32
          example: 1
    ProviderOwners_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
    Included:
      type: array
      items:
        discriminator:
          mapping:
            acceptedTerms: '#/components/schemas/AcceptedTerms_Resource_Object'
            albumStatistics: '#/components/schemas/AlbumStatistics_Resource_Object'
            albums: '#/components/schemas/Albums_Resource_Object'
            appreciations: '#/components/schemas/Appreciations_Resource_Object'
            artistBiographies: '#/components/schemas/ArtistBiographies_Resource_Object'
            artistClaims: '#/components/schemas/ArtistClaims_Resource_Object'
            artistRoles: '#/components/schemas/ArtistRoles_Resource_Object'
            artists: '#/components/schemas/Artists_Resource_Object'
            artworks: '#/components/schemas/Artworks_Resource_Object'
            clients: '#/components/schemas/Clients_Resource_Object'
            comments: '#/components/schemas/Comments_Resource_Object'
            contentClaims: '#/components/schemas/ContentClaims_Resource_Object'
            credits: '#/components/schemas/Credits_Resource_Object'
            downloads: '#/components/schemas/Downloads_Resource_Object'
            dspSharingLinks: '#/components/schemas/DspSharingLinks_Resource_Object'
            dynamicModules: '#/components/schemas/DynamicModules_Resource_Object'
            dynamicPages: '#/components/schemas/DynamicPages_Resource_Object'
            genres: '#/components/schemas/Genres_Resource_Object'
            installations: '#/components/schemas/Installations_Resource_Object'
            lyrics: '#/components/schemas/Lyrics_Resource_Object'
            manualArtistClaims: '#/components/schemas/ManualArtistClaims_Resource_Object'
            offlineTasks: '#/components/schemas/OfflineTasks_Resource_Object'
            playQueues: '#/components/schemas/PlayQueues_Resource_Object'
            playlists: '#/components/schemas/Playlists_Resource_Object'
            priceConfigurations: '#/components/schemas/PriceConfigurations_Resource_Object'
            providerOwners: '#/components/schemas/ProviderOwners_Resource_Object'
            providerProductInfos: '#/components/schemas/ProviderProductInfos_Resource_Object'
            providers: '#/components/schemas/Providers_Resource_Object'
            purchases: '#/components/schemas/Purchases_Resource_Object'
            reactions: '#/components/schemas/Reactions_Resource_Object'
            savedShares: '#/components/schemas/SavedShares_Resource_Object'
            searchHistoryEntries: '#/components/schemas/SearchHistoryEntries_Resource_Object'
            searchResults: '#/components/schemas/SearchResults_Resource_Object'
            searchSuggestions: '#/components/schemas/SearchSuggestions_Resource_Object'
            shares: '#/components/schemas/Shares_Resource_Object'
            squareConnections: '#/components/schemas/SquareConnections_Resource_Object'
            stripeConnections: '#/components/schemas/StripeConnections_Resource_Object'
            stripeDashboardLinks: '#/components/schemas/StripeDashboardLinks_Resource_Object'
            temporaryUserTokens: '#/components/schemas/TemporaryUserTokens_Resource_Object'
            terms: '#/components/schemas/Terms_Resource_Object'
            trackFiles: '#/components/schemas/TrackFiles_Resource_Object'
            trackManifests: '#/components/schemas/TrackManifests_Resource_Object'
            trackSourceFiles: '#/components/schemas/TrackSourceFiles_Resource_Object'
            trackStatistics: '#/components/schemas/TrackStatistics_Resource_Object'
            tracks: '#/components/schemas/Tracks_Resource_Object'
            tracksMetadataStatus: '#/components/schemas/TracksMetadataStatus_Resource_Object'
            usageRules: '#/components/schemas/UsageRules_Resource_Object'
            userCollectionAlbums: '#/components/schemas/UserCollectionAlbums_Resource_Object'
            userCollectionArtists: '#/components/schemas/UserCollectionArtists_Resource_Object'
            userCollectionFolders: '#/components/schemas/UserCollectionFolders_Resource_Object'
            userCollectionPlaylists: '#/components/schemas/UserCollectionPlaylists_Resource_Object'
            userCollectionSaveForLaters: '#/components/schemas/UserCollectionSaveForLaters_Resource_Object'
            userCollectionTracks: '#/components/schemas/UserCollectionTracks_Resource_Object'
            userCollectionVideos: '#/components/schemas/UserCollectionVideos_Resource_Object'
            userCollections: '#/components/schemas/UserCollections_Resource_Object'
            userDailyMixes: '#/components/schemas/UserDailyMixes_Resource_Object'
            userDataExportRequests: '#/components/schemas/UserDataExportRequests_Resource_Object'
            userDiscoveryMixes: '#/components/schemas/UserDiscoveryMixes_Resource_Object'
            userNewReleaseMixes: '#/components/schemas/UserNewReleaseMixes_Resource_Object'
            userOfflineMixes: '#/components/schemas/UserOfflineMixes_Resource_Object'
            userRecommendations: '#/components/schemas/UserRecommendations_Resource_Object'
            userReports: '#/components/schemas/UserReports_Resource_Object'
            users: '#/components/schemas/Users_Resource_Object'
            videoManifests: '#/components/schemas/VideoManifests_Resource_Object'
            videos: '#/components/schemas/Videos_Resource_Object'
          propertyName: type
        oneOf:
        - $ref: '#/components/schemas/AcceptedTerms_Resource_Object'
        - $ref: '#/components/schemas/AlbumStatistics_Resource_Object'
        - $ref: '#/components/schemas/Albums_Resource_Object'
        - $ref: '#/components/schemas/Appreciations_Resource_Object'
        - $ref: '#/components/schemas/ArtistBiographies_Resource_Object'
        - $ref: '#/components/schemas/ArtistClaims_Resource_Object'
        - $ref: '#/components/schemas/ArtistRoles_Resource_Object'
        - $ref: '#/components/schemas/Artists_Resource_Object'
        - $ref: '#/components/schemas/Artworks_Resource_Object'
        - $ref: '#/components/schemas/Clients_Resource_Object'
        - $ref: '#/components/schemas/Comments_Resource_Object'
        - $ref: '#/components/schemas/ContentClaims_Resource_Object'
        - $ref: '#/components/schemas/Credits_Resource_Object'
        - $ref: '#/components/schemas/Downloads_Resource_Object'
        - $ref: '#/components/schemas/DspSharingLinks_Resource_Object'
        - $ref: '#/components/schemas/DynamicModules_Resource_Object'
        - $ref: '#/components/schemas/DynamicPages_Resource_Object'
        - $ref: '#/components/schemas/Genres_Resource_Object'
        - $ref: '#/components/schemas/Installations_Resource_Object'
        - $ref: '#/components/schemas/Lyrics_Resource_Object'
        - $ref: '#/components/schemas/ManualArtistClaims_Resource_Object'
        - $ref: '#/components/schemas/OfflineTasks_Resource_Object'
        - $ref: '#/components/schemas/PlayQueues_Resource_Object'
        - $ref: '#/components/schemas/Playlists_Resource_Object'
        - $ref: '#/components/schemas/PriceConfigurations_Resource_Object'
        - $ref: '#/components/schemas/ProviderOwners_Resource_Object'
        - $ref: '#/components/schemas/ProviderProductInfos_Resource_Object'
        - $ref: '#/components/schemas/Providers_Resource_Object'
        - $ref: '#/components/schemas/Purchases_Resource_Object'
        - $ref: '#/components/schemas/Reactions_Resource_Object'
        - $ref: '#/components/schemas/SavedShares_Resource_Object'
        - $ref: '#/components/schemas/SearchHistoryEntries_Resource_Object'
        - $ref: '#/components/schemas/SearchResults_Resource_Object'
        - $ref: '#/components/schemas/SearchSuggestions_Resource_Object'
        - $ref: '#/components/schemas/Shares_Resource_Object'
        - $ref: '#/components/schemas/SquareConnections_Resource_Object'
        - $ref: '#/components/schemas/StripeConnections_Resource_Object'
        - $ref: '#/components/schemas/StripeDashboardLinks_Resource_Object'
        - $ref: '#/components/schemas/TemporaryUserTokens_Resource_Object'
        - $ref: '#/components/schemas/Terms_Resource_Object'
        - $ref: '#/components/schemas/TrackFiles_Resource_Object'
        - $ref: '#/components/schemas/TrackManifests_Resource_Object'
        - $ref: '#/components/schemas/TrackSourceFiles_Resource_Object'
        - $ref: '#/components/schemas/TrackStatistics_Resource_Object'
        - $ref: '#/components/schemas/Tracks_Resource_Object'
        - $ref: '#/components/schemas/TracksMetadataStatus_Resource_Object'
        - $ref: '#/components/schemas/UsageRules_Resource_Object'
        - $ref: '#/components/schemas/UserCollectionAlbums_Resource_Object'
        - $ref: '#/components/schemas/UserCollectionArtists_Resource_Object'
        - $ref: '#/components/schemas/UserCollectionFolders_Resource_Object'
        - $ref: '#/components/schemas/UserCollectionPlaylists_Resource_Object'
        - $ref: '#/components/schemas/UserCollectionSaveForLaters_Resource_Object'
        - $ref: '#/components/schemas/UserCollectionTracks_Resource_Object'
        - $ref: '#/components/schemas/UserCollectionVideos_Resource_Object'
        - $ref: '#/components/schemas/UserCollections_Resource_Object'
        - $ref: '#/components/schemas/UserDailyMixes_Resource_Object'
        - $ref: '#/components/schemas/UserDataExportRequests_Resource_Object'
        - $ref: '#/components/schemas/UserDiscoveryMixes_Resource_Object'
        - $ref: '#/components/schemas/UserNewReleaseMixes_Resource_Object'
        - $ref: '#/components/schemas/UserOfflineMixes_Resource_Object'
        - $ref: '#/components/schemas/UserRecommendations_Resource_Object'
        - $ref: '#/components/schemas/UserReports_Resource_Object'
        - $ref: '#/components/schemas/Users_Resource_Object'
        - $ref: '#/components/schemas/VideoManifests_Resource_Object'
        - $ref: '#/components/schemas/Videos_Resource_Object'
    Playlists_Relationships:
      properties:
        collaboratorProfiles:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        collaborators:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        coverArt:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        items:
          $ref: '#/components/schemas/Playlists_Items_Multi_Relationship_Data_Document'
        ownerProfiles:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollections_Playlists_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/UserCollections_Playlists_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Shares_Attributes:
      required:
      - code
      - createdAt
      type: object
      properties:
        code:
          type: string
          description: Share code
        createdAt:
          type: string
          description: Datetime of share creation (ISO 8601)
          format: date-time
        externalLinks:
          type: array
          description: Links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
    UserCollectionPlaylists_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionPlaylists_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    UserCollections_Artists_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollections_Artists_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    File_Status:
      required:
      - moderationFileStatus
      - technicalFileStatus
      type: object
      properties:
        moderationFileStatus:
          type: string
          description: Moderation status for file
          enum:
          - NOT_MODERATED
          - SCANNING
          - FLAGGED
          - TAKEN_DOWN
          - OK
          - ERROR
        technicalFileStatus:
          type: string
          description: Technical status for file
          enum:
          - UPLOAD_REQUESTED
          - PROCESSING
          - OK
          - ERROR
          - DELETED
      description: File status
    Tracks_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        credits:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        download:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        genres:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        lyrics:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        metadataStatus:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        priceConfig:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        providers:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        radio:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        replacement:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        shares:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        similarTracks:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        sourceFile:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        suggestedTracks:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        trackStatistics:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
        usageRules:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    StripeDashboardLinks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/StripeDashboardLinks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/StripeDashboardLinks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    PlayQueues_Current_Resource_Identifier_Meta:
      required:
      - batchId
      - itemId
      type: object
      properties:
        batchId:
          type: string
          format: uuid
        itemId:
          minLength: 1
          type: string
        legacySource:
          $ref: '#/components/schemas/LegacySource'
    External_Link:
      required:
      - href
      - meta
      type: object
      properties:
        href:
          type: string
        meta:
          $ref: '#/components/schemas/External_Link_Meta'
    ArtistClaims_Relationships:
      properties:
        acceptedArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        recommendedArtists:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollections_Relationships:
      properties:
        albums:
          $ref: '#/components/schemas/UserCollections_Albums_Multi_Relationship_Data_Document'
        artists:
          $ref: '#/components/schemas/UserCollections_Artists_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        playlists:
          $ref: '#/components/schemas/UserCollections_Playlists_Multi_Relationship_Data_Document'
        tracks:
          $ref: '#/components/schemas/UserCollections_Tracks_Multi_Relationship_Data_Document'
        videos:
          $ref: '#/components/schemas/UserCollections_Videos_Multi_Relationship_Data_Document'
    Purchases_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Purchases_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Purchases_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artists_Followers_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Artists_Followers_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Artists_Attributes:
      required:
      - name
      - popularity
      type: object
      properties:
        contributionsEnabled:
          type: boolean
          description: Is the artist enabled for contributions?
          example: true
        contributionsSalesPitch:
          type: string
          description: Contributions sales pitch
          example: Help me be a full time artist
        externalLinks:
          type: array
          description: Artist links external to TIDAL API
          items:
            $ref: '#/components/schemas/External_Link'
        handle:
          type: string
          description: Artist handle
          example: jayz
        name:
          type: string
          description: Artist name
          example: JAY Z
        ownerType:
          type: string
          description: 'Ownership type of the artist profile. LABEL: label-managed profile, USER: user-created profile, MIXED:
            claimed profile with both label and user content. May be null during rollout/backfill.'
          enum:
          - LABEL
          - USER
          - MIXED
        popularity:
          type: number
          description: Artist popularity (0.0 - 1.0)
          format: double
          example: 0.56
        spotlighted:
          type: boolean
          description: Is the artist spotlighted?
          example: true
    DynamicModules_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/DynamicModules_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/DynamicModules_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TrackStatistics_Attributes:
      required:
      - totalPlaybacks
      - uniqueListeners
      type: object
      properties:
        totalPlaybacks:
          type: integer
          description: Total playbacks
          format: int32
        uniqueListeners:
          type: integer
          description: Unique listeners
          format: int32
    PlayQueues_Current_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/PlayQueues_Current_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    Artwork_SourceFile:
      required:
      - md5Hash
      - size
      - status
      - uploadLink
      type: object
      properties:
        md5Hash:
          type: string
          description: MD5 hash of file to be uploaded
        size:
          type: integer
          description: File size of the artwork in bytes
          format: int64
        status:
          $ref: '#/components/schemas/File_Status'
        uploadLink:
          $ref: '#/components/schemas/File_Upload_Link'
      description: Artwork source file
    UserReports_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserReports_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionAlbums_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    ProviderProductInfos_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ProviderProductInfos_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/ProviderProductInfos_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artworks_Attributes:
      required:
      - files
      - mediaType
      type: object
      properties:
        files:
          type: array
          description: Artwork files
          items:
            $ref: '#/components/schemas/Artwork_File'
        mediaType:
          minLength: 1
          type: string
          description: Media type of artwork files
          enum:
          - IMAGE
          - VIDEO
        sourceFile:
          $ref: '#/components/schemas/Artwork_SourceFile'
        visualMetadata:
          $ref: '#/components/schemas/Artwork_VisualMetadata'
    PlayQueues_Future_Resource_Identifier_Meta:
      required:
      - batchId
      - itemId
      type: object
      properties:
        batchId:
          type: string
          format: uuid
        itemId:
          minLength: 1
          type: string
        legacySource:
          $ref: '#/components/schemas/LegacySource'
    UserCollectionAlbums_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollectionAlbums_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollectionAlbums_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Comments_Attributes:
      required:
      - createdAt
      - lastModifiedAt
      - likeCount
      - message
      - moderationStatus
      - replyCount
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime when the comment was created (ISO 8601)
          format: date-time
          example: '2025-11-17T12:54:48.606Z'
        endTime:
          type: string
          description: End time offset for timestamped comments (ISO 8601 duration)
          example: PT2M
        lastModifiedAt:
          type: string
          description: Datetime when the comment was last modified (ISO 8601)
          format: date-time
          example: '2025-11-17T12:54:48.606Z'
        likeCount:
          type: integer
          description: Number of likes on this comment
          format: int32
        message:
          maxLength: 2000
          minLength: 1
          type: string
          description: The comment message content
        moderationStatus:
          type: string
          description: Moderation status of the comment
          enum:
          - NOT_MODERATED
          - FLAGGED
          - TAKEN_DOWN
          - OK
          - ERROR
        replyCount:
          type: integer
          description: Number of replies to this comment
          format: int32
        startTime:
          type: string
          description: Start time offset for timestamped comments (ISO 8601 duration)
          example: PT1M30S
    Albums_SuggestedCoverArts_Resource_Identifier_Meta:
      required:
      - backgroundColor
      - foregroundColor
      type: object
      properties:
        backgroundColor:
          type: string
          description: Background color for the suggested artwork
        foregroundColor:
          type: string
          description: Foreground color for the suggested artwork
    TrackSourceFiles_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionTracks_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    Reactions_Attributes:
      required:
      - createdAt
      - emoji
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime of the reaction creation (ISO 8601)
          format: date-time
          example: '2025-11-17T12:54:48.60606Z'
        emoji:
          type: string
          description: The type of reaction representing an emoji
    Playlists_Items_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/Playlists_Items_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserNewReleaseMixes_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserNewReleaseMixes_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserNewReleaseMixes_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    TemporaryUserTokens_Attributes:
      type: object
    Installations_Relationships:
      properties:
        offlineInventory:
          $ref: '#/components/schemas/Installations_OfflineInventory_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserCollectionFolders_Items_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    UserCollections_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/UserCollections_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/UserCollections_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Artworks_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    PriceConfigurations_Attributes:
      required:
      - currency
      - price
      type: object
      properties:
        currency:
          type: string
          description: Currency code (ISO 4217)
          enum:
          - USD
        price:
          type: string
          description: Price amount with max 2 decimal places
          example: '9.99'
    DspSharingLinks_Relationships:
      properties:
        subject:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Reactions_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Reactions_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Reactions_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Purchases_Attributes:
      required:
      - createdAt
      - status
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime of purchase (ISO 8601)
          format: date-time
        status:
          type: string
          description: Current status of the purchase
          enum:
          - ACTIVE
    UserDailyMixes_Attributes:
      type: object
    StripeConnections_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Providers_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Providers_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    AcceptedTerms_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
    PlayQueues_Future_Resource_Identifier:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
          description: Resource id
          example: '12345'
        meta:
          $ref: '#/components/schemas/PlayQueues_Future_Resource_Identifier_Meta'
        type:
          type: string
          description: Resource type
          example: tracks
    UserCollectionArtists_Relationships:
      properties:
        items:
          $ref: '#/components/schemas/UserCollectionArtists_Items_Multi_Relationship_Data_Document'
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    Artists_Followers_Resource_Identifier_Meta:
      type: object
      properties:
        viewer:
          $ref: '#/components/schemas/Artists_Followers_Resource_Meta_ViewerContext'
    SearchResults_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SearchResults_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/SearchResults_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    Genres_Attributes:
      required:
      - genreName
      type: object
      properties:
        genreName:
          type: string
          description: Genre name
          example: pop
    UserCollections_Videos_Resource_Identifier_Meta:
      required:
      - addedAt
      type: object
      properties:
        addedAt:
          type: string
          format: date-time
    DspSharingLinks_Attributes:
      type: object
      properties:
        amazonMusic:
          $ref: '#/components/schemas/Link_Object'
        appleMusic:
          $ref: '#/components/schemas/Link_Object'
        spotify:
          $ref: '#/components/schemas/Link_Object'
        youTubeMusic:
          $ref: '#/components/schemas/Link_Object'
    AcceptedTerms_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        terms:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
    Downloads_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
    UserRecommendations_Attributes:
      type: object
    StripeDashboardLinks_Attributes:
      type: object
      properties:
        dashboardLink:
          $ref: '#/components/schemas/Link_Object'
    Artworks_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Artworks_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Artworks_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    SearchSuggestions_Single_Resource_Data_Document:
      required:
      - data
      - links
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SearchSuggestions_Resource_Object'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Credits_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Credits_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        relationships:
          $ref: '#/components/schemas/Credits_Relationships'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    SavedShares_Attributes:
      required:
      - createdAt
      type: object
      properties:
        createdAt:
          type: string
          description: Datetime of saved share creation (ISO 8601)
          format: date-time
    TrackFiles_Resource_Object:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/TrackFiles_Attributes'
        id:
          type: string
          description: Resource id
          example: '12345'
        type:
          minLength: 1
          type: string
          description: Resource type
          example: tracks
    UserCollectionArtists_Items_Multi_Relationship_Data_Document:
      required:
      - links
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserCollectionArtists_Items_Resource_Identifier'
        included:
          $ref: '#/components/schemas/Included'
        links:
          $ref: '#/components/schemas/Links'
    Lyrics_Relationships:
      properties:
        owners:
          $ref: '#/components/schemas/Multi_Relationship_Data_Document'
        track:
          $ref: '#/components/schemas/Single_Relationship_Data_Document'
[...]
